<template name='DrugPopup'>
    <!-- Display drug choice pop up as per new design-->

    <div class="pro-que-alert drug-inspection" style="display:none">
        <div class="pro-questation">
            <span>Will <span  id="inspected-drug"></span> be the best drug for this patient?</span>
            <a href="#" class="pro-que-btn" id="btnCaptureResponse">yes</a>
        </div>
        <div class="pro-alert">
            <div class="pro-alert-img"><img src="images/alert.png" /></div>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel nulla fimibus felis interdum gravida ac at quam</span>
        </div>
    </div>
    <!-- <div class="warningtbl martop5 marbtn5 drug-inspection" style="display:none">
        <div class="warningrow">
            <div class="warningcell d-warn-col1">
                <input type="button" value="Drug Choice" class="drugchbtn">
            </div>
            <div class="warningcell d-warn-col2">
                <span class="fltlft">Will</span>
                <span class="drugsnamediv" id="inspected-drug">&nbsp;  </span>
                <span class="fltlft">be the best drug for this patient?</span>
            </div>
            <div class="warningcell d-warn-col3">
                <input type="button" id="btnCaptureResponse" value="Yes" class="drugoptbtn">
            </div>
        </div>
    </div> -->
    <!-- Popup up design end -->
</template>
