<!-- Drug Selection Empty Warning -->
<template name="DrugSelectionEmptyWarning">
    <div class="warningtbl marbtn5 martop5 efficacy-warning" style="display: none;">
        <div class="warningrow ">
            <div class="warningcell e-warn-col1">
                <input type="button" value="Warning" class="warningmsgbtn">
            </div>
            <div class="warningcell e-warn-col2">
                <div>Please ensure you have selected atleast one drug in <b> Drugs Tab </b> or in <b>Drug Toggle </b>for accurate results.</div>
            </div>
            <div class="warningcell e-warn-col3"></div>
        </div>
    </div>
</template>