<template name='DrugSelectionOption'>
    <div class="eff-sideboxdiv">
        <ul class="eff-sidebox">
            {{#each DrugsData}}
            <li>
                <input type="checkbox" id="slider-cb-{{DrugSequence}}" value="{{DrugName}}" class="eff-ckbox" />
                  <label for="slider-cb-{{DrugSequence}}"></label>
                <!-- <input type="checkbox" class="eff-ckbox" value="{{DrugName}}" /> -->
                <div class="ckboxlabel"><span class="{{isDrugInsured IsInsured}}" title="{{DrugName}}">{{DrugName}}</span>
                    <i>{{bifurcateScoreValue this}}</i>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</template>