<template name='DrugPopupForValidation'>
    <!-- Display drug choice pop up as per new design-->
    <div class="warningtbl martop5 marbtn5 validation-inspection" style="display:none">
        <div class="warningrow">
            <div class="warningcell d-warn-col1">
                <input type="button" value="Warning" class="drugchbtn">
            </div>
            <div class="warningcell d-warn-col2">
                <span class="fltlft">Please provide values for &nbsp;</span>
                <span class="drugsnamediv" id="inspected-validation">&nbsp;  </span>
            </div>
            <!--<div class="warningcell d-warn-col3">
                    <input type="button" id="btnCaptureResponse" value="OK" class="drugoptbtn" onClick="hideWarningPopup();">
                </div>-->
        </div>
    </div>
    <!-- Popup up design end -->
</template>