<!-- Drug Selection Limit Warning -->
<template name="DrugSelectionLimitWarning">
    <div class="warningtbl marbtn5 martop5 drug-selection-warning" style="display: none;">
        <div class="warningrow ">
            <div class="warningcell e-warn-col1">
                <input type="button" value="Warning" class="warningmsgbtn">
            </div>
            <div class="warningcell e-warn-col2">
                <div>You can not select more than 4 drugs</div>
            </div>
            <div class="warningcell e-warn-col3"></div>
        </div>
    </div>
</template>