<template name="hccDistributionChart">
    {{#if isLoading}}
    <div class="col-md-12 boxshadow_borderline">
        {{> NewLoading}}
    </div>
    {{else}}
    <div class="col-md-12 boxshadow_borderline">
        <div style="margin-left:30px;margin-right:30px;text-align:center;">
            <div class="panel-title containertitle">
                <div class="ml-subTabsTitle">
                    <i id='hccToggleChart' class="fa fa-line-chart togglechart-compare" data='hccDistribution' aria-hidden="true" title="compare" style="cursor:pointer;color:black;margin-right:10px; display:none;" ></i>
                    Hepatocellular Carcinoma Distribution
                    <span class="macLearningsubTabs-infoIcon mlInfoTip">
                                                    <div class="analytics-tooltip mlInfoTip_tooltip">
                                                        <div class="analytics-tooltipHead">
                                                            Hepatocellular Carcinoma Distribution
                                                        </div>
                                                        <div class="analytics-tooltipBody" style="font-size: 13px;">
                                                          <span class="boldfnt">N : </span>
               <span id='hcc-distribution-N'></span> (<span id='hcc-distribution-PerN'></span>) Patients with HCC Labs Over <span id='hcc-distribution-TotalN'></span> Patients.
               <br><br>                   
                    <span class="boldfnt">Definition</span> - This chart represents count of patients who has done Hepatocellular
                    Carcinoma (HCC) test broken by Genotype / Cirrhosis / Ethnicity / Fibrosis.
                    <br> <br>
                    <span class="boldfnt">Calculation</span>
                    <br> <br>
                    <span class="boldfnt">Percentage</span> - Total patient with the HCC * 100/Total patients in sub-population
                    <br> <br>
                    <span style='color:red;padding-right:5px;'>*</span><span style='margin-top: 10px;word-break: break-all;'>Sourced from <a target="_blank" style="word-break: break-all;" href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3036965/'>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3036965/</a></span>
                    <br><br>
                </div>
            </div>
            </span>
        </div>
    </div>

    <div class="panel-body">
        <div id="hccSelection" class="">
            <input type="radio" name="hccDistribution" class="radioduration" value="Ethnicity" checked="checked"> Ethnicity
            &nbsp;&nbsp;&nbsp;
            <input type="radio" name="hccDistribution" class="radioduration" value="Genotype"> Genotype &nbsp;&nbsp;&nbsp;
            <input type="radio" name="hccDistribution" class="radioduration" value="Cirrhosis"> Cirrhosis &nbsp;&nbsp;&nbsp;

            <input type="radio" name="hccDistribution" class="radioduration" value="FibStages"> Fib-Stages &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
        </div>
        <div id="hccDistributionChart" style="height: 500px;"></div>
    </div>

    </div>
    </div>
    {{/if}}
</template>
