#pharma_medicationcooccur .c3-axis-x g.tick {
    font-size: 10px;
}

#pharma_medicationcooccur .c3-axis-x .c3-axis-x-label {
    font-size: 12px;
}

.pharmaCostTab .panel-default>.panel-heading {
    color: #333;
    background: none;
    border: none !important;
}

.pharmaCostTab .panel-heading {
    padding: 10px 15px;
    border: none !important;
}

.loadingwheelMask {
    height: 140px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.compAnalysisInnerCharts {
    padding-top: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, .05);
}

.pharmaCost-ICERHeader {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

.pharmaCost-CompareDrugButton {
    display: none;
}

.pharmaCost-ICERChartSection {
    display: none;
}

.pharmaCost-icerOptimalWrapper {
    position: absolute;
    right: 6px;
    z-index: 9;
    top: 2px;
    font-weight: bold;
    font-size: 12px;
}

.pharmaCost-icerOptimalIcon {
    height: 30px;
    width: 30px;
    background-color: #769e5b;
    border-radius: 25px;
    float: right;
}

.icerVsQalyTooltip {
    min-width: 200px;
    text-align: center;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.icerVsQalyTooltip-Body {
    min-width: 200px;
}

.icerVsQalyTooltip .tooltip-DrugName {
    color: #009eff;
    font-weight: bold;
}

.icerVsQalyTooltip .tooltip-SectionLabel {
    text-align: left;
}

.icerVsQalyTooltip .tooltip-SectionValue {
    text-align: left;
}