.tool {
		position: relative;
		width: 100%;
		margin-top: 30px;
	}

	.tool-input {
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
		font-size: 17px;
		font-weight: bold;
		color: #000;
		width: 100%;
		position: relative;
		background: #efefef;
		border: 1px solid #ccc;
		box-shadow: 1px 1px 2px #eee;
		border-radius: 20px;
	}
	
	.tool-input:hover {
		box-shadow: 1px 1px 2px #666;
		background: #fff;
	}
	
	.tool-container {
		position: relative;
		padding: 6px 20px;
	}
	
	.tool-container .caption {
		text-align: left;
		font-size: 12px;
		display: block;
		position: relative;
		padding-left: 20px;
	}
	
	.container-ast_level {
		border-bottom: 1px dashed #333;
		width: 170px;
		left: 130px;
	}
	
	.container-ast_upper_limit {
		width: 240px;
		left: 95px;
	}
	
	.container-ast_platelet_count {
		border-top: 2px solid #000;
		width: 270px;
		left: 80px;
	}
	
	.tool-elem,
	.tool-result {
		position: absolute;
		font-size: 17px;
		font-weight: bold;
		color: #000;
		top: 110px;
	}
	
	.tool-elem-apri {
		left: 10px;
	}
	
	.tool-elem-times {
		left: 405px;
	}
	
	.tool-result {
		left: 480px;
		top: 100px;
		background: rgb(255,222,70);
		border-radius: 20px;
		padding: 10px;
		text-shadow: #fff 0px 0px 1px;
		    height: 20px;
	}
	
	.tool-result .units {
		margin-left: 1px;
	}
	
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover LOL */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
	
	.tool-result-interpretation {
		border-radius: 15px;
		padding: 10px;
		text-shadow: #fff 0px 0px 1px;
		
		background: rgb(204,224,245);
		margin-top: 20px;
		margin-bottom: 40px;
	}
	
	.tool-result-interpretation h3 {
		margin-top: 0px;
		padding-left: 0px;
	}
	.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.message {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative;
}
.alert {
    padding: 15px;
    margin-bottom: 17px;
    border: 1px solid #bce8f1;
    border-radius: 4px;
	    
}
 .message h3 {
    margin: 0;
    padding-left: 0;
}
.content-included h3 {
    font-size: 13px;
    font-family: Arial,Verdana,sans-serif;
}