<template name="HeaderInnerContentEditMode">
    <!--Nisha 03/23/2017 modified to remove cohort based on role-->
    {{#if isPrimaryCarePhysicianRole}}  
     {{else}}
    <div class="head-emr-details">
        <div class="col-md-2 headerpatientCountIcon">
            <div class="col-md-2" style="padding: 0;width: 46%;margin-right: 3px;">
                <div class="emr-patient-photo">
                    <span class="emr-patient-photo-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                    <!-- <span >{{IDW_PATIENT_ID_SYNTH}}</span> -->
                    <span class="searchPatientCountHeader">0</span>
                </div>
            </div>
            <div class="headerbuttonFilesection" style="font-size: 19px;color:white;float:left;display:none;">
                <div style="float:right">
                    <span  title="export patients" class="ecf-exportPatient globalexportPatient1"><i class="fa fa-share-square-o" aria-hidden="true"></i></span>
                    <span  title="show patients" class="js-showPateintsListGlobal globalshowPatient1"><i class="fa fa-toggle-off" aria-hidden="true"></i></span>
                </div>
            </div>
            <div>
                <label class="switch" style="float:right;width: 46px;margin: 3px 0 0;">
                    <input id="showSelectedDatabase" type="checkbox" data = "0" >
                    <div class="slider round phs showSelectedDatabase" title="Benchmark"></div>
                </label>
            </div>
        </div>
        <div class="col-md-10" style="padding:10px">
            <div class="emr-infputform">
                <form id="headerForm">

                <div class="add-new-patient-div">
                <div class="efd-table-data costBurdenSection" id="filter_desc" style="display:none">
                    <div class="col-md-2" style="display:none;">
                    </div>
                    <div class="pt-filter-desc" style="" id="desc_genotype">
                        <div class="efd-cell1">Genotype: </div>
                        <div class="efd-cell2_subpopulaiton ecf-Genotype"></div>
                    </div>
                    <div class="pt-filter-desc" style="" id="desc_treatment">
                        <div class="efd-cell1">Treatment: </div>
                        <div class="efd-cell2_subpopulaiton ecf-Treatment"></div>
                    </div>
                    <div class="pt-filter-desc" style="" id="desc_cirrhosis">
                        <div class="efd-cell1">Cirrhosis: </div>
                        <div class="efd-cell2_subpopulaiton ecf-Cirrhosis"></div>
                    </div>
                    <div class="pt-filter-desc header-medicationInfo">
                        <div class="efd-cell1">Medication: </div>
                        <div class="efd-cell2_subpopulaiton ecf-Medication" title=""></div>
                    </div>
                <!-- Other Filters for Payer -->
                       <div class="pt-filter-desc" id="desc_plan_payer"  style="display:none">
                                <div class="efd-cell1">Insurance Plan: </div>
                                <div class="efd-cell2_subpopulaiton" title=""></div>
                            </div>
                          
                            <!-- @author: pramveer
                                @date:21st feb 2017  
                                @desc:removed years field from header 
                            -->
                            <!--<div class="pt-filter-desc"  id="desc_month_payer" style="width:16%;display:none">
                                <div class="efd-cell1" style="width:24%;">Year: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>-->
                    <!-- Other Filters for Payer -->
                    <!-- Other Filters -->
                    <div class="pt-filter-desc" style="display:none;" id="desc_etoh">
                        <div class="efd-cell1">ETOH Level: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_apri">
                        <div class="efd-cell1">APRI: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_virallaod">
                        <div class="efd-cell1">Viral Load: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_age">
                        <div class="efd-cell1">Age: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_weight">
                        <div class="efd-cell1">Body Weight: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_alcohol">
                        <div class="efd-cell1">Alcohol: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_renalfailure">
                        <div class="efd-cell1">Renal Failure: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_mentalhealth">
                        <div class="efd-cell1">Mental Health: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_hiv">
                        <div class="efd-cell1">HIV: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_meldscore">
                        <div class="efd-cell1">Meld Score: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_liverassessment">
                        <div class="efd-cell1">Liver Assessment: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_fibrosure">
                        <div class="efd-cell1">Fibrosure: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_fibroscan">
                        <div class="efd-cell1">Fibroscan: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_liverbiopsy">
                        <div class="efd-cell1">Liver Biopsy: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_hcc">
                        <div class="efd-cell1">HCC: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                    <div class="pt-filter-desc" style="display:none;" id="desc_chemistry">
                        <div class="efd-cell1">Chemistry: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>

                    <div class="pt-filter-desc" style="display:none;" id="desc_ethnicity">
                        <div class="efd-cell1">Ethnicity: </div>
                        <div class="efd-cell2_subpopulaiton"></div>
                    </div>
                </div>
            </div>
                <!-- <div class="form-fullwidth">
                    <div class="header-inputform-w270 borderbotmgray selecopitionhide">
                        <div class="header-labelbox header-labelbox-big">Admission Year</div>
                        <div class="header-textbox header-textbox-sml">
                            <input id="rfAdmissionDate" data="header" type="text" class="header_txtfld_edit" placeholder="Admission Date" value="{{maskedDate FIRST_ENCOUNTER}}"
                                maxlength="4"  {{isDisabledPatientRecord}}/>
                        </div>
                    </div> -->
                    <!-- <div class="header-inputform-w270 borderbotmgray selecopitionhide">
                        <div class="header-labelbox">Zip Code</div>
                        <div class="header-textbox">
                            <input id="ZipCode" data="header" type="text" class="header_txtfld_edit" placeholder="Zip Code" value="{{maskedZipCode PAT_ZIP}}"
                                maxlength="5"   {{isDisabledPatientRecord}}/>
                        </div>
                    </div>
                    <div class="header-inputform-w270 borderbotmgray selecopitionhide">
                        <div class="header-labelbox">Race</div>
                        <div class="header-textbox">
                            <input id="Race" data="header" type="text" class="header_txtfld_edit" placeholder="Race" value="{{RACE_DESC}}"
                             {{isDisabledPatientRecord}}/>
                        </div> -->
                        <!--select id="Race" data="header" class="pinDDL header_txtfld_edit emty" value="{{Race}}" {{isDisabledPatientRecord}} >
						<option class="" value="" {{getRaceSelected Gender}}>Select Race</option>
                        {{{getRaceOption Race}}}
					</select-->
                   <!--  </div>
                </div>
                <div class="form-fullwidth">
                    <div class="header-inputform-w270 borderbotmgray selecopitionhide">
                        <div class="header-labelbox ">Insurance</div>
                        <div class="header-textbox">
    <input id="Insurance" data="header" type="text" class="header_txtfld_edit" placeholder="Plan" value="{{ CLAIMS_INSURANCEPLAN }}"
                            /> -->
                        <!--select class="pinDDL" id="Insurance" data="header" value="{{Insurance}}" {{isDisabledPatientRecord}} placeholder="Select Plan">
                            <option class="" value="">Select Plan</option>
                            {{#each getPlanList}}
                                <option value="{{ claims_insurancePlan }}" {{getSelectedInsurance claims_insurancePlan ..}}>{{ claims_insurancePlan }}</option>
                            {{/each}}
                        </select-->

                   <!--  </div>
                    </div> -->
                    <!--div class="header-inputform-w270 borderbotmgray selecopitionhide">
                        <div class="header-labelbox">Area Code</div>
                        <div class="header-textbox">
                            <input id="rfAreaCode" data="header" type="text" class="header_txtfld_edit" placeholder="Area Code" value="{{AreaCode}}"
                                maxlength="3" {{isDisabledPatientRecord}} />
                        </div>
                    </div-->
                    <!-- <div class="header-inputform-w270 borderbotmgray selecopitionhide">
                        <div class="header-labelbox">Gender</div>
                        <div class="header-textbox">
                        <input id="Gender" data="header" type="text" class="header_txtfld_edit" placeholder="Gender" value="{{getGenderSelected GENDER_CD}}"
                         {{isDisabledPatientRecord}}   /> -->
                        <!--select class="pinDDL" name="headerGender" data="header" id="Gender" value="{{Gender}}"  value="{{GENDER_CD}}"  {{isDisabledPatientRecord}}>


            <option class="" value="" {{getGenderSelected Gender}}>Select Gender</option>
                                               {{{getGenderOption Gender}}}
					</select-->
                   <!--  </div>
                    </div>
                     <div class="header-inputform-w270 borderbotmgray selecopitionhide">
                        <div class="header-labelbox">State</div> -->
                        <!--select class="pinDDL" id="State" data="header" name="State" placeholder="State" {{isDisabledPatientRecord}}>
						 <option value="default" {{getBindStoreSelected State}}>Select a state</option>
                         {{{getBindStoreOption State}}}
					</select--> <!-- <div class="header-textbox">
                      <input id="State" data="header" type="text" class="header_txtfld_edit" placeholder="State" value="{{getBindStoreSelected ST_CD}}"
                         {{isDisabledPatientRecord}}   />
                    </div>
                    </div>
                </div>
                <div class="form-fullwidth margbtnnone">
                    <div class="header-inputform-w270 borderbotmgray selecopitionhide">
                        <div class="header-labelbox">Birth Year</div>
                        <div class="header-textbox">
                            <input id="Birthday" data="header" type="text" class="header_txtfld_edit" placeholder="Birth" value="{{BRTH_YR_NBR}}"
                                maxlength="4" {{isDisabledPatientRecord}} />
                        </div>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
    </div>
 {{/if}} 
</template>
