<template name="HeaderInnerContentAnalytics">
    <div class="head-emr-details">
         <div class="col-md-2 headerpatientCountIcon">
            <div style="width:100%;">
                <div class="emr-patient-photo">
                    <span class="emr-patient-photo-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                    <!-- <span >{{IDW_PATIENT_ID_SYNTH}}</span> -->
                    <span class="searchPatientCountHeaderAnalytics" style="padding-left:10px;">0</span>
                </div>
            </div>
            <div>
            <div class="headerbuttonFilesection" style="font-size: 19px;color:white">
                <div style="float:right">
                    <span  title="export patients" class="ecf-exportPatient globalexportPatient1"><i class="fa fa-share-square-o" aria-hidden="true"></i></span>
                    <span  title="show patients" class="js-showPateintsListGlobal globalshowPatient1"><i class="fa fa-toggle-off" aria-hidden="true"></i></span>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-10" style="padding:10px">
              <div class="emr-infputform">
                <form id="headerForm">
                    <div class="add-new-patient-div add-new-patient-div-analytics">
                        <div class="efd-table-data costBurdenSection" id="filter_desc_analytics">
                            <div class="col-md-2" style="display:none;">
                            </div>
                            <div class="pt-filter-desc" id="desc_genotype_analytics">
                                <div class="efd-cell1">Genotype: </div>
                                <div class="efd-cell2_subpopulaiton ecf-Genotype"></div>
                            </div>
                            <div class="pt-filter-desc" id="desc_treatment_analytics">
                                <div class="efd-cell1">Treatment: </div>
                                <div class="efd-cell2_subpopulaiton ecf-Treatment"></div>
                            </div>
                            <div class="pt-filter-desc" id="desc_cirrhosis_analytics">
                                <div class="efd-cell1">Cirrhosis: </div>
                                <div class="efd-cell2_subpopulaiton ecf-Cirrhosis"></div>
                            </div>
                            <div class="pt-filter-desc header-medicationInfo">
                                <div class="efd-cell1">Medication: </div>
                                <div class="efd-cell2_subpopulaiton ecf-Medication" title=""></div>
                            </div>

                            <!-- Other Filters -->

                            <div class="pt-filter-desc" style="display:none;" id="desc_etoh">
                                <div class="efd-cell1">ETOH Level: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                
                            <div class="pt-filter-desc" style="display:none;" id="desc_apri">
                                <div class="efd-cell1">APRI: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                
                            <div class="pt-filter-desc" style="display:none;" id="desc_virallaod">
                                <div class="efd-cell1">Viral Load: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                
                            <div class="pt-filter-desc" style="display:none;" id="desc_age">
                                <div class="efd-cell1">Age: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                
                            <div class="pt-filter-desc" style="display:none;" id="desc_weight">
                                <div class="efd-cell1">Body Weight: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                
                            <div class="pt-filter-desc" style="display:none;" id="desc_alcohol">
                                <div class="efd-cell1">Alcohol: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                
                            <div class="pt-filter-desc" style="display:none;" id="desc_renalfailure">
                                <div class="efd-cell1">Renal Failure: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                
                            <div class="pt-filter-desc" style="display:none;" id="desc_mentalhealth">
                                <div class="efd-cell1">Mental Health: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                
                            <div class="pt-filter-desc" style="display:none;" id="desc_hiv">
                                <div class="efd-cell1">HIV: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>             
                            <div class="pt-filter-desc" style="display:none;" id="desc_meldscore">
                                <div class="efd-cell1">Meld Score: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                
                            <div class="pt-filter-desc" style="display:none;" id="desc_liverassessment">
                                <div class="efd-cell1">Liver Assessment: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>
                            <div class="pt-filter-desc" style="display:none;" id="desc_fibrosure">
                                <div class="efd-cell1">Fibrosure: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                
                            <div class="pt-filter-desc" style="display:none;" id="desc_fibroscan">
                                <div class="efd-cell1">Fibroscan: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                
                            <div class="pt-filter-desc" style="display:none;" id="desc_liverbiopsy">
                                <div class="efd-cell1">Liver Biopsy: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                 
                            <div class="pt-filter-desc" style="display:none;" id="desc_hcc">
                                <div class="efd-cell1">HCC: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>                 
                            <div class="pt-filter-desc" style="display:none;" id="desc_chemistry">
                                <div class="efd-cell1">Chemistry: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div> 
                                    
                            <div class="pt-filter-desc" style="display:none;" id="desc_ethnicity">
                                <div class="efd-cell1">Ethnicity: </div>
                                <div class="efd-cell2_subpopulaiton"></div>
                            </div>     

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
