<template name="PatientSideBar">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Sidebar</h3>
      </div>

      <ul class="list-unstyled components">
        <p>Patients</p>
        <li class="active">
          <a href="#homeSubmenu">Diagnosis/Evaluation</a>
        </li>
        <li>
          <a href="#">Past HCV Treatment</a>
        </li>
        <li>
          <a href="#">Latis</a>
        </li>
        <li>
          <a href="#">Medication History</a>
        </li>
        <li>
          <a href="#">Imaging</a>
        </li>
        <li>
          <a href="#">Herbal Medication History</a>
        </li>
        <li>
          <a href="#">Social History</a>
        </li>
        <li>
          <a href="#">Clinical Calculators</a>
        </li>
      </ul>

      <ul class="list-unstyled device">
        <li>
          <img src="./Product-Image.png" alt="LOGO">
        </li>
      </ul>
    </nav>
</template>