
searchhead {
    display: table;
    width: 75%;
    padding-left: 30px;
    padding-top: 28px;
}

.searchhead form {
    padding: 0;
    float: right;
    width: 36%;
    border: none;
}

.searchhead form input,
.searchhead form button {
    background-color: #f7f7f7;
    border: none
}

.searchhead .nav-pills>li.active>a {
    background-color: #9c9c9c;
    color:  #FFF;
    border-top: none;
}

.nav-pills > li.active > a:focus,
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: #9c9e9c;
    text-align: left;
}


.nav-pills > li.active > a:focus,
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: #9c9e9c;
    text-align: left;
}

ul.folders.nav.nav-pills.nav-stacked,
.leftnavigation ul.folders.nav.nav-pills.nav-stacked .active,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
    background: #9c9e9c url('/left-bottom-bg.png') no-repeat bottom center;
    color: #10304a;
}

.leftnavigation .nav-pills>li.active>a,
.leftnavigation .nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #10304a !important;
}

.leftnavigation .nav-pills>li.active>a,
.leftnavigation .nav-pills>li.active>a:focus,
.leftnavigation .nav-pills>li.active>a:hover {
    background-color: transparent !important;
    border: none !important
}

ul.folders.nav.nav-pills.nav-stacked {
    margin: 0 -15px;
}

.leftnavigation .active a:before,
leftnavigation li a:before,
.leftnavigation .active a {
    border-bottom: none !important;
    text-align: left;
}

.leftnavigation .active li {
    width: 100% !important;
    margin: 0;
}

.pa-request-content .navigation {
    min-height: 768px;
}

.list-group-item.active>.badge,
.nav-pills>.active>a>.badge {
    background-color: #10304a !important;
    color: #FFF !important;
    border-radius: 5px !important;
}

.nav-pills>li>a>.badge {
    border-radius: 5px !important;
}

button#start-request.strt-req {
    background-color: #ef4722;
    color:  #FFF;
    margin-left: 35px;
    margin-top: 15px;
    
}

.highlight .select2-container .select2-choice {
    color: #FF9797 !important;
    background: #fde4e4 !important;
}

.box-fld.pa-searchform .hltrec_txtfld {
    padding: 0;
    background: #FFF;
}

.searchhead .nav-pills>li.active>a,
.searchhead .nav-pills>li.active>a:focus,
.searchhead .nav-pills>li.active>a:hover {
    color: #fff !important;
    background-color: #9c9e9c !important;
}
#navbar-collapse li {
   /* width: 11.1% !important*/
}

/*Added on 03-APR-2017*/
.pa-request-content {
    padding: 0 15px;
}
 /*.hltrec_left {
        width: 100%;
        margin-right: 0;
    }*/

.hltrec_left {
    /*width: 23% !important;*/
    width: 227px !important;
    Display: table-cell;
    background: #C9C9C9 none repeat scroll 0 0;
    vertical-align: top;
    border: 1px solid #b9b9b9;
}
.pa-request-content .hltrec_left {
    float: left;
}
.pa-request-content .navigation {
    min-height: 768px;
}


.hltrec {
    width: 100% !important;
    float: left;
    padding: 0;
}


.hltrec_left.navbar-collapse {
    padding: 0;
}

.hltrec_right {
    width: 75%;
    display: table-cell;
    padding-left: 10px;
    vertical-align: top;
}

.leftnavigation {
    padding: 0px;
    margin: 20px 0;
    width: 100%;
}

.leftnavigation li {
    display: inline-block;
    width: 100%;
    padding: 0px 8%;
    font-size: 16px;
    position: relative;
    background: transparent url('left-bottom-bg.png') no-repeat bottom center;
}

.leftnavigation li a {
    color: #736d73;
    padding: 10px 0%;
    display: block;
    width: 100%;
    font-size: 14px;
    text-decoration: none !important;
}

.leftnavigation li:hover {
    background: #eeeeee;
    text-decoration: none;
}

.leftnavigation li:hover a {
}

.leftnavigation li:hover a:before {
    border-bottom: 1px solid #e7dfe7;
}

.leftnavigation .active {
    background: #dedede;
    margin-left: -1px;
    width: 101%;
    -webkit-box-shadow: 0px -1px 25px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px -1px 25px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px -1px 25px -11px rgba(0, 0, 0, 0.7);
}

.leftnavigation .active a {
    border-bottom: 1px solid #e7dfe7;
}

.leftnavigation .active a:before {
    border-bottom: 1px solid #e7dfe7;
}

.hltrecr_left {
    width: 65%;
    float: left;
    margin: 20px 0;
}

.hltrecr_right {
    width: 35%;
    float: left;
    margin: 10px 0;
    padding: 0 5% 0 3%;
}

.textfldboxs {
    width: 100%;
    float: left;
    padding: 0px 3%;
}

.textflddiv {
    width: 46%;
    float: left;
    margin: 0 2% 8px;
}

.hltrec_txtfld {
    width: 100%;
    background: #dedede;
    color: #5b5b5b;
    border: solid 1px #e0e0e0;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: Arial;
}

.cmm-pa-container .highlight {
    color: #f71818;
}

.cmm-pa-container .highlight::-webkit-input-placeholder {
    color: #FF9797;
}

.cmm-pa-container .highlight:-moz-placeholder {
    /* Firefox 18- */
    color: #FF9797;
}

.cmm-pa-container .highlight::-moz-placeholder {
    /* Firefox 19+ */
    color: #FF9797;
}

.cmm-pa-container .highlight:-ms-input-placeholder {
    color: #FF9797;
}



/* Media query for PA Request Dashboard*/
@media all and ( max-width:480px){
.searchhead form {
    padding: 0;
    float: left;
    width: 100%;
    border: none;
    margin: 18px 0 0;
}
ul.order.nav.nav-pills {
    display: table;
    float: left;
    width: 100%;
    padding-left: 0px;
}
.nav-pills>li {
    float: left;
    width: 49%;
}
.searchhead {
    display: block;
    width: 100%;
    padding: 5%;
    padding-top: 28px;
    float: left;
}

}



.cmm-container {
    float: left;
    width: 76%;
}
.searchhead {
    float: left;
    width: 100%;
	padding: 20px;
}
ul.order.nav.nav-pills {
    float: left;
	    margin-top: 2px;
}
ul.order.nav.nav-pills li a {
    padding: 7px 15px;
}
.content.col-md-9.cmm-dashboard {
    width: 100%;
}

#optbar{float:left}

.cmm-epa-button {
    margin-right: 15px;
    margin-top: 7px;
    float: right;
    cursor: pointer;
}