/*.clinicalCalcsList {
    padding-left: 0px;
    width: 110%;
    background: #b6b6b6;
}
.clinicalCalcsWrapper {
    background: #b6b6b6 !important;
    background-image: url('/down-arrow.png') !important;
    background-repeat: no-repeat !important;
    background-size: 13px 13px !important;
    background-position: 96% 15px !important;
    border-radius: 5px !important;
    width: 90% !important;
    margin-left: 5%;
    margin-top: 10px;
    border: 1px solid #D4D3D3;
}
.clinicalCalcsList li {
    border: none !important;
    background: none;
}
.clinicalCalcsList li a{
   color: #4A4A4A;
}*/
