<template name="LoginPage">
   <iframe src="https://www.covermymeds.com/request/view/CRH9MP?token_id=m7ti609w2sj2ht4ftcsn" width="497" height="298" seamless=""></iframe>

	<div class='abc'>Testing</div>
<li class="dropdown-res"><a href="#" class="btn btn-lg btn-primary menu_loginbtn" data-toggle="modal" data-target=".login-model">Login </a></li>

	<div class="modal fade login-model">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
              <!-- <iframe src="https://www.covermymeds.com/request/view/CRH9MP?token_id=m7ti609w2sj2ht4ftcsn" width="497" height="298" seamless=""></iframe> -->

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</template>
