<body style="overflow:hidden;">
    {{> sAlert}}
    <div class="overlay" id="overlay" style="display:none;background:rgba(204, 204, 204, 0.2);z-index: 99999998;">
    </div>
    <script>
        CanvasRenderingContext2D.prototype.clear =
            CanvasRenderingContext2D.prototype.clear || function(preserveTransform) {
                if (preserveTransform) {
                    this.save();
                    this.setTransform(1, 0, 0, 1, 0, 0);
                }

                this.clearRect(0, 0, this.canvas.width, this.canvas.height);

                if (preserveTransform) {
                    this.restore();
                }
            };
        var leftTime = 90; // 90 seconds before the user session expires
        var intervalID;
        var idleTimeout = (15 * 60 * 1000) - (3.5 * 60 * 1000); // idle time 15 minutes and minus the 90 seconds for the warning popup
        $(document).idle({
            onIdle: function() {
                //check whether the user is on the login page or not with null safety
                //if (Meteor.user().profile.userDetail.username)
                if (Meteor.user())
                    openWarning();
            },
            onActive: function() {
                // todo when user is active
            },
            idle: idleTimeout
        });
        var routerNotificationPopupFlag;
        var notificationPopupDelay;

        function hideWarningPopup() {
            $('.validation-inspection').hide();
        }

        function hideNotificationPopupContinue(route) {
            localStorage.setItem('mandatoryFieldReq', 'true');
            document.getElementById("overlayForNotificationPopup").style.visibility = "hidden";
            document.getElementById("overlayForNotification").style.display = "none";
            var nav = document.getElementsByClassName('NavigateUrlByTabDesk');
            for (var i = 0; i < nav.length; i++) {
                if (nav[i].innerHTML == 'Health Record') {
                    nav[i].parentNode.className = 'active';
                } else {
                    nav[i].parentNode.className = '';
                }
            }
            routerNotificationPopupFlag = true;
            Router.go(route);
        }

        function hideNotificationPopupCancle() {
            document.getElementById("overlayForNotificationPopup").style.visibility = "hidden";
            document.getElementById("overlayForNotification").style.display = "none";
            routerNotificationPopupFlag = false;
            Router.go('/#');
        }
        var Search_Row_Num = -1;

        function openWarning() {

            intervalID = setInterval(function() {
                document.getElementById('userLeftTime').innerHTML = leftTime;
                leftTime--;
                if (leftTime < 1) {
                    clearInterval(intervalID);
                    leftTime = 90;
                    $('.stillActive').css('display', 'none');
                    $('.sessionExpired').css('display', 'block');
                    document.getElementById('continueSessionBtn').innerHTML = 'OK';
                    $('#continueSessionBtn').css('margin-top', '15px');
                    logOutUser();
                }
            }, 1000);

            $('#warningPopup').show();
            $('#warningPopup').css('opacity', '1');
            $('.stillActive').css('display', 'block');
            $('.sessionExpired').css('display', 'none');
            document.getElementById('continueSessionBtn').innerHTML = 'Yes';
            $('#continueSessionBtn').css('margin-top', '-6px');
        }

        function continueSession(btn) {
            $('#warningPopup').hide();
            $('#warningPopup').css('opacity', '0');
            clearInterval(intervalID);
            leftTime = 90;
            if (btn.innerHTML == 'OK') {
                logOutUser();
            }
        }

        function logOutUser() {

            //Call Serverside method to logout user
            var isLoggedOut = false;
            var user = Meteor.user().profile.userDetail.username;
            //Check weather user is logged out or not, then call server side method
            if (user && user.length > 0) {

                //Call server side ValidateUser method to validate user
                Meteor.call('UserLogout', user, function(error, result) {
                    isLoggedOut = result ? result.isValid : false;
                    //console.log(result);
                    if (isLoggedOut) {
                        Meteor.logout();
                        // Clear local storage once user logged out from system
                        localStorage.clear();
                        Router['PatientId'] = '';
                        location.href = '/login';

                    } else {
                        console.log('Some problem while logout');
                        //alert('please enter correct username/password');
                    }

                });
            } else {
                // To Do
                //console.log('user already logged out');
            }
        }

        //do stuff when dom is ready for entire application
        $(function() {
            console.log("**** ----Dev1 IMS APPLICATION LIVE---- ****");

            // console.log("**** ----APPLICATION LIVE---- ****");
            $('input, textarea').placeholder();

            // $(document).on('.psAccordion .hasSubMenu', function(e) {
            // 	console.log("Sub navigation");
            // 	if ($(e.target).parent().hasClass("hasSubMenu")) {
            // 		e.preventDefault();
            // 		var elem = this;
            // 		$(elem).find('.sub-sidemenu').slideToggle("slow");
            //
            // 		if ($(elem).data("rotate") == "close") {
            // 			$(elem).find('.submenu-arrow i').rotate(180);
            // 			$(elem).data("rotate", "open");
            // 		} else if ($(elem).data("rotate") == "open") {
            // 			$(elem).find('.submenu-arrow i').rotate(0);
            // 			$(elem).data("rotate", "close");
            // 		}
            // 		//return false;
            // 	} else {
            // 		//return false;
            // 	}
            // });
            $(document).on('click', '#btnCaptureResponse1,.pro-que-btn', function() {
                //console.log("Drug is captured need to hide");
                $('.jq-toast-wrap').hide();
            });

            $('.psAccordion .hasSubMenu').click(function(e) {
                //	console.log("Sub navigation");
                if ($(e.target).parent().hasClass("hasSubMenu")) {
                    //	console.log("inside if");
                    e.preventDefault();
                    var elem = this;
                    $(elem).find('.sub-sidemenu').slideToggle("slow");

                    if ($(elem).data("rotate") == "close") {
                        $(elem).find('.submenu-arrow i').rotate(180);
                        $(elem).data("rotate", "open");
                    } else if ($(elem).data("rotate") == "open") {
                        $(elem).find('.submenu-arrow i').rotate(0);
                        $(elem).data("rotate", "close");
                    }
                    //return false;
                } else {
                    //	console.log("this is it");
                    //    return false;
                }
            });
        });

        $.fn.extend({
            animateCss: function(animationName) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                this.addClass('animated ' + animationName).one(animationEnd, function() {
                    $(this).removeClass('animated ' + animationName);
                });
            }
        });
    </script>

    <div style="display:none" id="warningPopup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" style="top:200px;width:330px">
            <div class="modal-content" style="height:150px">
                <div class='stillActive'>
                    <center>
                        <span class="warningMsg">Your session will expire in <span id='userLeftTime' style="font-weight:bold;">50</span> seconds. </span>
                    </center>
                    <p class="userCnfrm">Do you want to extend the session?</p>
                    <br/>
                </div>
                <div class='sessionExpired'>
                    Your session have been expired! Please login Again.
                </div>
                <button id='continueSessionBtn' onclick="continueSession(this)" type="button" class="btn btn-primary" value="Yes"></button>
            </div>
        </div>
    </div>

    <div id="anim_loading_theme" class="anim_loading_theme">
        <!-- <span id="loading_theme" class="loading_theme">Loading...</span>
        <div class="circle"></div>
        <div class="circleOne"></div> -->
        <div class="loader_overlay"></div>
        <div class="loader">Loading...</div>
    </div>
    <div style="display:none" id="popupForCalculator" class="modal-box calc-modal-box">
        <header> <a href="#" class="js-modal-close close">X</a>
            <h3 id="clinicalCalcTitle">MELD Calculator (for ages 12 and older)</h3>
        </header>
        <div class="modal-body">
            <iframe id="meldframe" src="/ClinicalCalcs/meldPopup/cal.html"></iframe>
        </div>
        <footer>
            <span>*</span>
            <p id="iframeAttribution">Sourced from <a href="http://www.hepatitisc.uw.edu" target="_blank">www.hepatitisc.uw.edu</a></p>
            <a href="#" class="js-modal-close close-btn">Close</a>
        </footer>
    </div>


    <!-- popup for Comparative Engine View-->
        <div class="popup comparativeEngineOptionsView" id="comparativeEngineOptionsView" data-popup="comparativeEngineOptionsView">
            <div class="popup-inner">
                <button type="button" class="close analytics_closebtn" style="margin-top:5px;margin-right:10px"><span aria-hidden="true">×</span></button>
                <div class="comparativeEngineOptionsView-header">Comparative Engine</div>
                <div class="comparativeEngineOptionsView-container" id="ce_optionsView_container"></div>	
                <div class="popup-close" data-popup-close="comparativeEngineOptionsView" href="#" style="cursor:pointer;">x</div> 
            </div>
      </div>
        <!-- Popup end-->


    <script>
        $(function() {

            setminheightforrightcontent();
            $(window).resize(function() {

                setminheightforrightcontent();
                $(".modal-box").css({
                    top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
                });
            });
            $(window).resize();
        });

        function setminheightforrightcontent() {
            $('.right-side-content').css('min-height', ($('.left-side-menu-div').height()))
        }
    </script>
</body>