/* Patients Details popup */

.pharmaPatientsPopup-header {
    text-align: center;
    font-size: 18px;
}

.pharmaPatientsPopup-header div {
    display: inline-block;
}

.pharmaPatientsPopup-header .ecf-labelText {
    margin: 2px 10px;
}

.pharmaPatientsPopup-header .ecf-valueText {
    color: #102430;
    font-weight: bold;
}

.pharmaPatientsPopup .popup-inner {
    width: 78%;
    height: auto;
}

.pharmaPatientsPopup .popup-close {
    top: 10px;
    right: 20px;
}

.pharmaPatientsPopup-container {
    padding: 10px 3px;
}

@media all and (max-height:700px) {
    .groupUtilizationPopup {
        height: 500px
    }
}

.ecf-patientContainer {
    min-height: 250px;
    max-height: 465px;
    overflow: auto;
}

.ecf-utilizationContainer {
    min-height: 250px;
    max-height: auto;
    overflow: auto;
}

.pharmaPatientsPopup-container .showInRow {
    display: inline-block;
    min-width: 113px;
    text-align: center;
}

.mlTabPatientsList .showInRow {
    min-width: 100px;
}

.ecf-patientsHeader {
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid #ee4724;
    margin: 18px 0px;
}

.ecf-patientRow {
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
    padding: 10px 0px;
}

.ecf-patientRow:hover {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0px 0px 5px 1px #e1e1e1;
    cursor: pointer;
}

.ecf-patientContainer .active {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0px 0px 5px 1px #e1e1e1;
}

.pharmaPatientsPopup-footer {
    height: 40px;
    text-align: center;
}

.ecf-patientDetailSection {
    display: none;
    min-height: 250px;
    border-bottom: 1px solid #ee4724;
    margin: 1px 0px 2px 0px;
    padding: 3px;
    padding-bottom: 7px;
    overflow-y: auto;
    background: #fdfdfd;
    box-shadow: inset 0px -3px 3px #dadada;
}

.patientsPopup-closeBtn {
    width: 120px;
    background: #EE4724;
    height: 100%;
    text-align: center;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
    font-size: 14px;
}

.patientChartSection {
    border: 1px solid #e9e9e9;
    min-height: 250px !important;
}

.pharmaPatientsPopup g.c3-axis.c3-axis-x path.domain,
.mlDistributionChart g.c3-axis.c3-axis-x path.domain {
    visibility: visible;
}

.pharmaPatientsPopup .c3 path,
.c3 line,
.mlDistributionChart .c3 path,
.c3 line {
    fill: none;
    stroke: #999;
}

.pharmaPatientsPopup .ecfPatient-cureRate g.c3-axis.c3-axis-x .tick,
.mlDistributionChart g.c3-axis.c3-axis-x .tick {
    font-size: 12px;
    font-weight: normal;
    fill: #999;
}

.pharmaPatientsPopup g.c3-axis.c3-axis-y .tick,
.mlDistributionChart g.c3-axis.c3-axis-y .tick {
    visibility: visible;
    fill: rgb(153, 153, 153);
}

.pharmaPatientsPopup .optimizeIcon {
    background-position: 10px 0px;
    background-image: url('/patiensListviewLink.png');
    height: 20px;
    width: 50px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 20px;
    min-width: 50px;
}

.pharmaPatientsPopup .additionalDrugSection {
    padding: 0px 10px 10px;
    width: 100%;
    /* height: 100%; */
    float: left;
    background: #f5f5f5;
    margin-bottom: 3px;
}

ul.additionalDruglist li {
    width: 33%;
    float: left;
}

ul.additionalDruglist {
    width: 95%;
    float: left;
    padding: 0;
    margin: 0 0 0 5%;
    color: #333;
}

.pharmaPatientsPopup .additionalReason {
    font-size: 13px;
    color: #111;
    font-weight: 600;
    padding: 10px 0px;
}

.pharmaPatientsPopup .additionalDrugsName {
    padding-left: 10px;
    display: inline-block;
}

.pharmaPatientsPopup .additionalDrugIcon {
    height: 10px;
    width: 10px;
    background-color: #e06900;
    border-radius: 5px;
    display: inline-block;
}

.pharmaPatientsPopup .noAdditionalDrugs {
    text-align: center;
    color: red;
    padding-top: 20px;
}

.pharmaPatientsPopup .chartHeading,
.mlDistributionChart .chartHeading {
    color: #111;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}

.pharmaPatientsPopup .c3-axis-y-label,
.pharmaPatientsPopup .c3-axis-x-label,
.mlDistributionChart .c3-axis-y-label,
.mlDistributionChart .c3-axis-x-label {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    fill: rgb(153, 153, 153);
}

.pharmaPatientsPopup .customC3ToolTip {
    min-width: 200px;
}

.pharmaPatientsPopup .ecfPatient-drugX {
    overflow-y: auto;
    height: 200px;
}

.apriGreaterPatientsIcon {
    background-image: url('/analytics-OrangePeople.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 8px 0px;
    height: 20px;
    padding-left: 28px;
}

.apriLessPatientsIcon {
    background-image: url('/analytics-VioletPeople.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 8px 0px;
    height: 20px;
    padding-left: 28px;
}

.mlDistributionChartWrapper {
    display: none;
}

.mlDistributionChart {
    border: 1px solid #e9e9e9;
    padding: 0px;
    margin: 10px 0px;
}

.mlPatientsDetailWrapper {
    border: 1px solid #efefef;
    margin: 10px 0px;
}

.mlPatientsDetailWrapper .chartHeading {
    color: #696767;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.mlPatientsDetailWrapper .popup {
    width: 100%;
}

.ecfPatientRelative-utiIcon {
    background-image: url('/comparitveValue.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 40px;
    width: 100px;
    right: 10px;
    bottom: 5px;
}

.ecfPatientRelative-relativeIcon {
    background-image: url('/optimalPointForValueZoneDot.png');
    background-repeat: no-repeat;
    position: relative;
    top: -220px;
    right: -314px;
    height: 20px;
    width: 25px;
}

.analytics-applyDateFilters {
    width: 44px;
    height: 24px;
    background-color: #f78651;
    border: none;
    border-radius: 3px;
    position: absolute;
    color: #fff;
}

