/*Extra */

.new-button {
    height: 33px !important;
    margin-left: 10px
}

.custbgclr {
    background-color: #fec6ae !important
}

.resleftnavnew {
    float: left !important;
    width: 100% !important;
    padding: 10px 0 !important;
}

.resleftnavnew>li>a {
    padding: 8px 20px !important;
}

.res_cust_menu {
    float: left !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #d7d7d7 !important
}

.res_cust_menu li {
    background: transparent !important;
    display: inline-block;
    font-size: 14px;
    padding: 0px 0 !important;
    position: relative;
    width: 100%;
}

.res_cust_menu li a {
    color: #878787 !important;
    display: block;
    font-size: 14px;
    font-weight: bold !important;
    padding: 8px 20px !important;
    text-decoration: none !important;
    width: 100%;
}

.res_cust_menu li a:hover {
    background: #ccc !important;
    color: #323d4a !important;
}

.res_cust_menu li a:active {
    background: #ccc !important;
    color: #323d4a !important;
}

.res_cust_menu li ul {
    float: left !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.res_cust_menu li ul li {
    background: #9c9c9c url("/left-bottom-bg.png") no-repeat scroll center bottom !important;
    background-size: 100% 4px !important
}

.res_cust_menu li ul li:last-child {
    background: #9c9c9c !important;
}

.resleftnavnew {
    background-color: #d8d8d8 !important;
    margin-top: 0 !important;
}

.resleftnavnew a {
    text-decoration: none !important
}

.resleftnavnew a:hover {
    text-decoration: none !important
}

.resleftnavnew a:active {
    text-decoration: none !important
}

.resleftnavnew {
    padding: 0px !important
}

.resleftnavnew>li>a {
    margin: 10px 0 !important
}

.mb-userprofile {
    position: relative;
    width: 82%;
}

.relftnav_sdrparrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #7f7f7f;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
    margin: 0;
}


/* Change on 12 17 */

.warningdiv {
    width: 100%;
    float: left;
    position: relative;
    z-index: 11;
    padding: 0px 15px;
    -webkit-box-shadow: 0 8px 6px -6px #999999;
    -moz-box-shadow: 0 8px 6px -6px #999999;
    box-shadow: 0 8px 6px -6px #999999;
}

.warningtbl {
    width: 100%;
    display: table;
}

.warningrow {
    display: table-row;
    vertical-align: middle;
    width: 100%
}

.warningcell {
    display: table-cell;
    vertical-align: middle;
}

.e-warn-col1 {
    width: 160px;
}

.e-warn-col2 {
    text-align: left;
}

.e-warn-col3 {
    float: right;
}

.warningmsgbtn {
    background: #ffd5d5;
    color: #f00;
    border-radius: 9px;
    width: 150px;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #ffd5d5;
    font-size: 14px
}

.drugchbtn {
    background: #ececec;
    color: #000;
    border-radius: 9px;
    width: 150px;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #ececec;
    font-size: 14px
}

.d-warn-col1 {
    width: 160px;
}

.d-warn-col2 {
    text-align: left;
}

.drugsnamediv {
    float: left;
    max-width: 66%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    color: #009933;
    font-weight: bold;
    margin: 0 3px
}

.d-warn-col3 {
    float: right;
}

.fltlft {
    float: left;
    color: #6B6969;
}

.drugoptbtn {
    background: #285f87;
    color: #fff;
    border-radius: 10px;
    width: 60px;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #285f87;
    font-size: 14px
}

.marbtn5 {
    margin-bottom: 5px
}

.martop5 {
    margin-top: 5px
}

.validation-inspection {
    z-index: 9999999;
    border-bottom: 1px solid gray;
    box-shadow: 2px -4px 10px 0px;
    background: #fff;
    padding: 4px;
}

.validation-inspection.marbtn5 {
    margin-bottom: 0px
}

.validation-inspection .drugchbtn {
    background: #FFD5D5;
    color: #DE2727;
    font-weight: 400;
    border: 1px solid #FDBEBE;
}


/* Efficiancy Slide Menu */

.e-slidemenu {
    position: absolute;
    right: 25px;
    top: 40px;
    box-shadow: 1px 1px 1px 1px #e4e4e4;
    border-radius: 4px;
}

.posrel {
    position: relative;
}

.menulines {
    color: #999;
    padding: 10px;
    position: relative;
    z-index: 99;
}

.menulines ul {
    padding: 0px;
    margin: -1px 0 0 8px;
    width: 20px;
    float: right;
}

.menulines ul li {
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
    display: block;
    height: 3px;
    background-color: #999;
    border: 1px solid #999;
    margin: 3px 0;
    padding: 0px
}

.eff-sideboxdiv {
    background: #efefef none repeat scroll 0 0;
    border-radius: 0;
    padding: 10px 10px 100px;
    position: absolute;
    right: 0;
    top: 00px;
    width: 315px;
    overflow-y: auto
}

.eff-sidebox li {
    list-style: none;
    display: inline-block;
    margin-bottom: 6px;
    width: 100%;
    font-size: 14px;
    color: #666;
}

.eff-sidebox {
    padding: 0px;
}

.eff-ckbox {
    float: left;
    margin-top: 2px !important
}

.ckboxlabel span {
    margin-bottom: 3px;
    font-weight: bold;
    color: #000;
}

.ckboxlabel .eff-orng {
    color: #f74118;
}

.ckboxlabel span {
    color: #f74118;
}

.ckboxlabel {
    float: left;
    margin-left: 10px;
    width: 238px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    line-height: 13px;
    font-size: 13px;
}

.ckboxlabel>i {
    float: left;
    font-size: 14px;
    font-style: normal;
    margin: -10px 0 0;
    width: 100%;
}

.cbContainer {
    margin: 20px 0
}

.forrgtmenu_posrel {
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
}

.animated_right {
    right: 300px;
}

.posrelovfhid {
    position: relative;
    overflow: hidden;
    z-index: 9;
    background-color: #fff;
}

.drugcontent {
    min-height: 360px
}

.slidesec {
    min-height: 440px;
    position: relative;
    width: 100%;
    float: left;
    padding: 15px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 2px 5px 2px #ccc
}


/*old head-warp css .head-wrap{border-radius: 10px;top: 1;position: fixed;padding: 10px 0;text-align: center;margin-top: 15px;z-index: 999;list-style: none;}*/

.head-wrap {
    border-radius: 10px;
    list-style: outside none none;
    margin-top: 0;
    padding: 10px 0;
    position: relative;
    text-align: left;
    z-index: 999;
    width: 100%;
    float: left;
    top: 15px;
}

.foot-wrap {
    margin: 0 auto !important;
    padding: 0 !important;
    width: 60% !important;
}


/* Remove The Scale for the Preferred | Not preferred in drugs page*/

.draug_footer {
    margin-top: 10px;
    display: none;
}

.foot_left {
    width: 200px !important;
}


/*.ct_tbl{display: table; width: 100%}
.ct_row{display: table-row; width: 100%; vertical-align: top;}
.ct_cell{display: table-cell; vertical-align: top; text-align: center; padding: 10px 20px;} 
.cls4ctrdata {text-align: left; width: 100% !important}
.costcontent{margin-top:30px; float: left; width: 100%}*/


/* css for user session warning popup*/

#warningPopup .modal-content {
    padding: 20px 10px 10px 10px;
}

#warningPopup .modal-content button {
    margin-top: -6px;
    text-align: center;
}

#warningPopup .modal-content {
    font-family: Arial;
    text-align: center;
    box-shadow: 5px 1px 24px 0px #000000;
}

#warningPopup .btn-primary {
    color: #fff;
    background-color: #133248;
    border-color: #758A9C;
}

#warningPopup .warningMsg {
    color: #333333;
    font-size: 16px;
}

#warningPopup .userCnfrm {
    background: url('/safety-alert-icon.png');
    background-repeat: no-repeat;
    background-size: 19px 19px;
    background-position: 20px 5px;
    text-align: center;
    margin-top: 10px;
    color: #0089ff;
    font-size: 14px;
    padding: 7px 5px 5px 16px;
    margin: 0px;
}

#warningPopup .sessionExpired {
    font-size: 16px;
    color: red;
    display: none;
}


/* end css for user session warning popup*/


/* Cost Page */

.martb30 {
    margin: 30px 0;
}

.cost-tbl-head {
    font-weight: bold;
    float: left;
    width: 99%
}

.cost-tbl-data {
    float: left;
    width: 99%;
}

.cost-tbl-box {
    border: 1px solid #ccc;
    border-bottom: none;
}

.cost-tbl-data .cost-tbl-box {
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}

.cost-tbl-data:last-child .cost-tbl-box:last-child {
    border-bottom: 1px solid #ccc;
}

.cost-tbl-head>.row>.col-xs-4 {
    padding: 8px 0 10px 0;
}

.cost-tbl-data>.row>.col-xs-4 {
    padding: 8px 0 10px 0;
}

.cost-tbl-head>.row>.col-xs-6 {
    padding: 8px 0 10px 0;
}

.cost-tbl-data>.row>.col-xs-6 {
    padding: 8px 0 10px 0;
}

.cost-title {
    font-weight: bold;
}

.cost-title-star {
    font-weight: bold;
    color: #999;
}

.cost-title-star span {
    color: #000
}

.col-xs-7.cost-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}


/*#disnone{display: none !important;}*/


/* Compare page */

.grid-fix {
    display: block;
    table-layout: fixed;
    width: 620px;
    overflow: auto
}

.grid-fix-cell {
    display: table-cell;
}

.grid-fix-cell div.row {
    width: 180px;
}

.text-center>b {
    margin-left: 15px;
}

.c-drug-tbl-div div {
    padding: 0 2px;
    width: 100%;
}

.c-drug-tbl-title {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: pre;
    width: 70%;
}

#compare-content {
    display: inline-table;
    width: 100%;
    overflow-x: auto;
    float: left;
}

.martop30 {
    margin-top: 30px;
}

.dcost-tbl-head {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
    display: table-row;
}

.dcost-tbl-row {
    margin-bottom: 5px;
    display: table-row;
}

.dcost-inli {
    display: inline;
    margin-right: 15px;
    float: left;
    font-weight: bold;
}

.dcost-cell {
    display: table-cell;
    padding-bottom: 7px;
    padding-right: 10px
}

.dcost-title-cell {
    display: table-cell;
    padding-bottom: 7px;
    padding-right: 10px;
    font-weight: bold
}

.dcost-tbl-head .dcost-cell,
.dcost-tbl-head .dcost-title-cell {
    padding-bottom: 15px;
    padding-right: 10px
}

.dcost-fxwid {
    width: 140px
}

.dcost-fxwid-dlr {
    width: 90px;
}

.dcost-fxwid-dlr span {
    font-weight: bold;
}

.drugitemnew {
    width: 76% !important;
    margin: 0 auto !important;
}

.drugitemnew .riskWrapperContainer .safetyCount {
    margin-left: -12%;
}

.drugitemnew .safetyFlag {
    cursor: default;
    float: left;
    left: 10px;
    position: absolute;
    width: 200px;
}


/* My Account POPUP */

.myact_popup_innerContainer {
    padding: 15px;
    border: 1px solid #E4E4E4;
    display: inline-block;
    box-shadow: 1px 1px 1px 1px #949292;
    background: #DDE4E9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.myact_popup_header {
    width: 100%;
    background: #133248;
    padding: 10px;
    box-shadow: 1px 0px 0px 0px #ABABAB;
    color: #BFC8CF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.MyAccHeader_Left {
    width: 93%;
    float: left;
    padding-left: 7px;
}

.MyAccountCloseIcon {
    cursor: pointer;
}

.myact_popup {
    background-color: #fff;
    display: none;
    position: absolute;
    width: 270px;
    z-index: 10;
    right: 0;
}

.overvisi {
    overflow: visible;
}

.overlay {
    z-index: 5;
    background: rgba(0, 0, 0, .50);
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

.mypo_lebtxtfld label {
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 13px;
    color: #253A53;
}

.buttonsContainer {
    margin-bottom: 0px !important;
    margin-left: 12%;
}

.mypo_close {
    background-color: #fff;
    border: 1px solid #ee4118;
    border-radius: 100%;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    padding-top: 2px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 25px;
}

.myacc_btn {
    border-left: 1px solid #000;
    margin-left: 2px;
    padding-left: 4px;
}

.mypo_save_btn,
.mypo_close_btn {
    width: 34%;
    padding: 5px 0;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0px grey;
}

.mypo_close_btn {
    margin-left: 3%;
    background-color: #cccccc;
    color: #fff
}

.mypo_save_btn {
    margin-right: 3%;
    background-color: #ee4118;
}

.mypo_notificaton {
    float: left;
    width: 100%;
    margin: 7px;
    color: green;
    display: none;
}

.mypo_warn_notificaton {
    float: left;
    width: 100%;
    margin: 7px;
    color: red;
    display: none;
}

.mypo_lebtxtfld {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.mypo_txtfld {
    width: 100%;
    float: left;
    margin-top: 1px;
    border: 1px solid #ECECEC;
    box-shadow: 1px -1px 0px 0px #BDBDBD;
    padding-left: 5px;
    color: #616161;
    font-size: 13px;
    border-bottom: 1px solid #133248;
}

.safetyFlag_click {
    cursor: default;
    position: absolute;
    right: 85px;
}

.safetyFlag_click img {
    height: 16px;
    margin-right: 11px;
    width: 16px;
}


/*Added pointer cursor for drug selection menu*/

.menulines {
    cursor: pointer;
}


/* Start of GEO Page */

.gcheckb {
    width: 100%;
    float: left;
    margin: 10px 0 5px
}

.giner_checkb {
    width: 100%;
    float: left;
    display: none;
    padding-left: 10px;
    margin: 0px;
}

.giner_checkb li {
    list-style: none;
}

.gch_selectbox {
    width: 100%;
    float: left;
    height: 26px;
    margin-top: 5px
}

#map {
    width: 100%;
    float: left;
}


/* drug page hover effect */

.valueInfoIcon .has-tooltip .safetyFlagtooltip {
    opacity: 1;
    visibility: visible;
    display: none
}

.valueInfoIcon:hover span.safetyFlagtooltip {
    display: block;
}


/* Hack code for IE - Modify drug button */

.menulines {
    width: 135px\9\0;
}

.menulines {
    width: 150px;
}


/*.leftnavigation .active a{text-align: center !important;}*/

.leftnavigation li {
    display: block !important;
}

select {
    padding-right: 0 !important;
}


/*.loading_theme{width:85px;margin: 32px auto !important}*/

.close {
    opacity: .5 !important;
}

.leftnavigation li {
    display: block !important;
}

.leftnavigation {
    width: 220px;
}


/* range slider for cross browser */


/*.slider-selection {background: #BABABA !important;}

.slider.slider-horizontal {width: 123px !important;}
*/

@media screen and (min-width:0\0) {
    .anim_loading_theme {
        height: 80px !important;
    }
    .loading_theme {
        font-size: 10px;
        font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
        color: #F36335;
        margin: 32px 0 !important;
        position: absolute;
        font-weight: bolder;
        text-align: center !important;
        width: 100% !important;
    }
    .textflddiv.dvETOHLevel,
    .textflddiv.dvViralLoad,
    .textflddiv.dvGenotype {
        float: none !important;
        width: 45% !important;
        display: inline-block;
    }
}


/* Start Of login page for forget password part */

.frgtpwdiv {
    margin-bottom: 15px;
}

.fpd_chbox {
    margin-top: 15px;
    font-size: 16px;
}

.fpd_password {
    margin-left: 18px
}

.fpd_password span {
    font-size: 14px;
    color: #999;
    margin-top: 7px;
    width: 100%;
    float: left;
}

.fpd_password label {
    width: 100%;
    float: left;
    font-weight: bold;
    margin-top: 5px;
}

.fpd_txtfld {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
}

.loginlinks a {
    color: #0F2739 !important
}

;

/* End Of login page for forget password part */

.admin_btn {
    border-left: 1px solid #000;
    margin-left: 2px;
    padding-left: 4px;
}

.user_admin_btn {
    border-left: 1px solid #000;
    margin-left: 2px;
    padding-left: 4px;
}

.ha_contnt_box {
    background-color: #fff;
    position: absolute !important;
    width: 1020px;
    z-index: 10;
    right: 0;
    top: 75px;
}

.hadmin_popup {
    display: none;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.ha_blk_bg {
    width: 100%;
    float: left;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
}

.tb_addbtn {
    width: 110px;
    height: 35px;
    float: right;
    margin: 20px 0 20px 0;
    text-align: right;
    background: url('newuserbutton.jpg') no-repeat;
    background-size: 100% 100%
}

.tb_notification {
    font-size: 14px;
    color: green;
    margin-top: 30px;
    float: left;
}

.tb_warning_notification {
    font-size: 14px;
    margin-top: 30px;
    float: left;
    color: #ee4118
}

.textfld-grup {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 20px;
}

.tg-box {
    margin-bottom: 10px;
    width: 32%;
    float: left;
}

.tg-box-l {
    margin-left: 1%
}

.tg-box-r {
    margin-right: 1%
}

.tg-box label {
    width: 100%;
    float: left;
}

.tg-txtfld {
    width: 100%;
    background: #dedede;
    color: #5b5b5b;
    border: solid 1px #e0e0e0;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: Arial;
}

.ad_actbtn {
    width: 33%;
    text-align: center;
    display: block;
    float: left;
    background: transparent;
}

.tg-group {
    width: 100%;
    float: left;
}

#adminframe>html {
    overflow: auto
}

#adminframe {
    border: 1px solid #ccc;
}

.admin_save_btn,
.admin_close_btn {
    width: 150px;
    padding: 5px 0;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0px grey;
}

.tg_box_btn {
    width: 100%;
    float: left;
}

.admin_close_btn {
    margin-left: 3%;
    background-color: #cccccc;
    color: #fff
}

.admin_save_btn {
    margin-right: 3%;
    background-color: #ee4118;
}

.PAtg_box_btn {
    width: 100%;
    float: left;
}


/* Start of make Drug page responsive  */

@media screen and (max-width: 992px) {
    .draug_div {
        width: 100%;
        float: left;
        overflow: auto;
        padding-bottom: 50px;
    }
    .row.seven-cols.drughead {
        display: table-row;
    }
    .row.seven-cols.page1 {
        display: table-row;
    }
    .col-md-1.drugitem {
        display: table-cell;
        min-width: 150px;
    }
    .valueInfoIcon .has-tooltip .safetyFlagtooltip {
        left: -260px !important;
    }
    .valueInfoIcon .has-tooltip .safetyFlagtooltip:before {
        left: 87%;
    }
    .valueInfoIcon .has-tooltip .safetyFlagtooltip:after {
        left: 87%;
    }
}

@media screen and (max-width: 768px) {
    #showRightPush i {
        float: right;
        margin-right: 13px !important;
    }
    .mb-navbar-toggle-left,
    .mb-navbar-toggle-right {
        width: 51px;
    }
    .mb-navbar-toggle-right {
        box-shadow: -10px 0 6px -3px #000 !important;
        -moz-box-shadow: -10px 0 6px -3px #000 !important;
        -webkit-box-shadow: -10px 0 6px -3px #000 !important;
    }
}

@media screen and (max-width: 480px) {
    .search_result1 {
        display: none;
    }
    .res_searchdiv {
        float: left;
    }
    #searchform {
        float: left !important;
        margin: 0 !important;
        width: 100%;
    }
    .hltrec_right {
        display: block;
        float: none;
        margin: 20px auto 0;
        padding: 0;
        width: 98%;
    }
    .textfldboxs {
        margin-bottom: 15px;
    }
    button#start-request.strt-req {
        display: block;
        float: none;
        margin: 0 auto;
        width: 94%;
    }
    .mb-dropmenu.swicthCombo.res_leftnavigation.navbar-toggle.collapsed {
        background-color: #4a4a4a;
        border: 1px solid transparent;
        border-radius: 0;
        float: left;
        margin: 0 0 20px 0;
        padding: 0;
        width: 100%;
    }
    .gradinatscale {
        width: 170px;
    }
    .foot-wrap {
        margin: 5px auto 20px;
    }
    .foot_left {
        width: 202px !important;
    }
    .foot_right {
        width: 100% !important;
    }
    #showRightPush i {
        float: right;
        margin-right: 13px !important;
    }
    .mb-navbar-toggle-left,
    .mb-navbar-toggle-right {
        width: 51px;
    }
    .mb-navbar-toggle-right {
        box-shadow: -10px 0 6px -3px #000 !important;
        -moz-box-shadow: -10px 0 6px -3px #000 !important;
        -webkit-box-shadow: -10px 0 6px -3px #000 !important;
    }
    .mb-userprofile {
        position: relative;
        width: 82%;
        min-height: 51px;
    }
    .mb-navbar-toggle-right {
        position: absolute;
        right: 8px;
    }
}

.provider-checkbox [type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    float: left !important;
}

.provider-checkbox .ckboxlabel {
    float: left;
    margin-left: 28px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    line-height: 14px;
}