
.spClinicalTrialsContent .lr-hr-moreInfo {
    background-color: #fff;
    border: 1px solid #ef4722;
    border-radius: 2px;
    color: #ef4722;
    text-transform: uppercase;
    width: 150px;
    padding: 3px;
}

.seperateDrugSection.active {
    display: block;
}
.seperateDrugSection {
    padding: 3px;
    border: none;
/*    border-radius: 3px;*/
    margin-bottom: 10px;
    display: none;
}
.seperateDrugSection .safetyRiskDICIPopup {
    width: 100%;
}
.safetyRiskDICIPopup {
    position: relative;
}
.safetyRiskDICIPopup {
    width: 400px;
    padding: 25px;
    text-shadow: 1px 1px 1px white;
    background: #fff;
    border: 1px solid #E3E4E4;
    font-size: 14px;
    font-family: sans-serif;
    border-bottom: 1px solid #E8E7E7;
    color: #8e8f92;
    border: 1px solid #ef4722;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 4px;
    margin: 2px;
    border-radius: 5px;
    text-align: justify;
    margin-bottom: 20px;
}

