

.conditionSelection {
    background: #fff;
    padding: 5px 0px 5px 0px !important;
}

.conditionSectionInitial{
    background: #fff;
    padding: 5px 5px 10px 5px !important;
    box-shadow: 6px 6px 6px #e1e1e1;
    margin-top: 40px;
}

.AdvPayerDropDownContainer{
  border-bottom: 1px solid red;
  margin-right: 10px;
}

.AdvPayerDropDown{
  width: 100%;
  float: left;
  position: relative;
  min-height: 34px;
}

.dropdownLabel{
    padding-top: 12px;
    color: #333;
    font-weight: 600;
    font-size: 12px;
}

.dropdownCombo{
	margin-top: 3px;
	height: 33px !important;
}

.dropdownCombo select{
    background: #fff !important;
    border: none;
    color: #666;
    padding-left: 12px;
    width: 100%;
    height: 33px;
    font-size: 12px !important;
}

.dropdownCombo:focus {
    outline: none;
}

.dropdownCombo select:focus {
    outline: none;
}

/*Genotype Dropdown*/

.genotypeSelect {
    background-color: #fff !important;
    font-size: 12px;
    width: 100%;
    height: 28px !important;
    line-height: 0px;
    margin-bottom: 0px;
    margin-right: 17px;
    padding: 0px;
    border-radius: 3px;
    color: #fff;
    background-image: url('down-arrow-red.png') !Important;
    background-position: 100% 10px;
    background-size: 12px 12px;
    background-repeat: no-repeat;
}


.dropdown dd,.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #666;
  text-decoration: none;
  outline: none;
  font-size: 12px;
  font-weight: normal;
}

.dropdown dt a {
  /*background-color: #4F6877;*/
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 0px;
  overflow: hidden;
  border: 0;
  /*width: 90px;*/
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
    display: inline-block;
    margin: 6px 0px 0px 3px;
	
}

.dropdown dd ul {
	  background-color: #ffffff;
    border: 0;
    color: #524f4f;
    display: none;
    left: 0px;
    padding: 0px;
    position: absolute;
    top: 2px;
    width: 100%;
    list-style: none;
    height: 220px;
    overflow: auto;
    z-index: 1000;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid #eaeaea;
}
.dropdown dd ul li {
    background: #fafafa;
    border-bottom: 1px solid #e1e1e1;
    padding: 5px 10px;
    width: 100%;
}


.dropdown span.value {
  display: block;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: white;
}



.goButtonWrapper {
    float: left;
    padding-right: 26px !important;
    margin-right: 0px !important;
}

.goButtonWrapper span{
	color: #fff !important;
    background-color: #f04823 !important;
    border-color: #e61111 !important;
    border: none !important;
    border-radius: 0px !important;
}
    
.MainFiltersRightSection{
	margin: 0px !Important;
    padding-right: 0px !important;
    padding-top: 30px;
}

.complicationRateButtonWrapper{
    float: left;
    background: #fff;
    height: 35px;
    width: 155px;
    text-align: right;
    font-size: 11px;
    color: #111;
    box-shadow: 0.5px 0.5px 0.5px 0.5px red;
    padding: 9px 4px;
    cursor: pointer;
    margin-left: -20px;
}
  
.complicationRateButton{
    background: #fff; 
    color: #111;
    float: left;
}

.complicationRateIcon{
    background-position: 14%;
    background-image: url('AmdApp_v5-ICONS.png');
    height: 18px;
    width: 24px;
    background-repeat: no-repeat;
    float: left;
}


.inputform-w270 {
}

.AdvPayerDropDown .selectize-dropdown, .selectize-input, .selectize-input input{
    font-size: 12px !important;
    line-height: 17px;
}
.dropdownCombogen {
    margin-top: 0px;
    height: 33px !important;
}



.header-inputform-w270 .selectize-input input { color: #acaeae; }
.header-inputform-w270 .selectize-input > * { color: #acaeae; }

.selecopitionhide select { visibility: hidden; }
.AdvPayerDropDown .selectize-control { position: relative; width: 100% !important; float: left; height: 33px; }
.selectize-input { padding: 0 15px 12px 0px; text-align: right; }
.selectize-control.single .selectize-input:after { border: none; content: "\f107"; width: 0; height: 0; position: absolute; right: 12px; top: 0px; margin-top: 0; font-family: FontAwesome; font-size: 20px; color: #f04b4f; }
.selectize-control.single .selectize-input.dropdown-active:after { border: none; content: "\f106"; width: 0; height: 0; position: absolute; right: 12px; top: 0px; margin-top: 0; font-family: FontAwesome; font-size: 20px; color: #f04b4f; }
.selectize-dropdown.single.demo-default { border: 1px solid #e1e1e1; margin-top: 5px; }
.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header { padding: 10px; border-bottom: 1px solid #e1e1e1; background: #fff; }
.selectize-input.dropdown-active::before { display: none; }

.selectize-input {
    padding: 2 12px 6px 0px !important;
    text-align: right;
    padding-bottom: 0px !important;
    margin-top: 7px;
    text-align:left !important;
}



/*Check Box Styling*/
/*
.checkbox label{
  padding-left: 0px;
}


.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #f92626;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: 14px;
    line-height: 0;
    font-weight: 400;
    top: 30%;
    left: 8%;
    color: #f92626;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .3;
}*/



/*Check Box Styling*/
.complicationratemodal .checkbox{
    float: left;
    margin-right: 0px;
    margin-top: 2px;
}

.checkbox label{
  padding-left: 0px;
}


.checkbox label:after
{
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr
{
    position: relative;
    display: inline-block;
    border: 1px solid #f92626;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}


.checkbox .cr .cr-icon
 {
    position: absolute;
    font-size: 14px;
    line-height: 0;
    font-weight: 400;
    top: 30%;
    left: 8%;
    color: #f92626;
}

.checkbox label input[type="checkbox"]
{
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon
{
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon
{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr
{
    opacity: .3;
}