.AdvancePayer {
    padding: 10px !Important;
}

.populationHealthHeader {
    height: 70px;
    width: 231px;
    float: right;
    background: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 69px, rgba(128, 128, 128, 0.18) 15px);
    background-repeat: no-repeat;
    margin-top: -70px;
    font-size: 18px;
    color: #0e0e0e;
    line-height: 63px;
    padding: 5px 5px 5px 78px;
    border-top-right-radius: 20px;
}

.populationHealth {
    min-height: 265px;
    width: 100%;
}

.chartSubPopulationHeader {
    font-family: Arial;
    line-height: 45px;
    width: 100%;
    float: left;
    background: #fff;
    text-align: center;
    padding-top: 1px;
    border-bottom: 1px solid #E1e1e1
}

.chartSubPopulationHeader li a {
    cursor: pointer;
}

.tabNavigation {
    width: 690px;
    margin: 0 auto;
    text-align: center;
}


/*.supolulationTab{
  display: none;
}*/


/*.tabNavigation .subPopulation {
    float: left;
    list-style: none;
    background: radial-gradient(circle at 0 0, rgba(204,0,0,0) 64px, rgb(220, 214, 214) 15px);

    font-size: 13px;
    width: 200px;
    font-weight: 600;
    font-family: Arial;
    padding: 5px 5px 5px 85px;
    color: #fff;
    text-decoration: none;
    margin-left: -64px;
    z-index: 1;
}
.tabNavigation .charts {
    float: left;
    list-style: none;
    background: radial-gradient(circle at 0 0, rgba(204,0,0,0) 69px, rgb(220, 214, 214) 15px);
    padding: 0px 10px;
    font-size: 13px;
    font-family: Arial;
    font-weight: 600;
    width: 200px;
    color: #fff;
    padding: 5px 5px 5px 95px;
    text-decoration: none;
    z-index: 999;
}*/

.tabNavigation li a.link {
    color: #111;
    text-decoration: none;
    font-size: 14px;
}

.tabNavigation li.active a.link {
    color: red;
    text-decoration: none;
}

.tabNavigation li {
    display: inline-block;
    width: auto;
    float: left;
    padding: 0px 20px;
    background: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.tabNavigation li.active {
    color: red;
    border-bottom: 2px solid red;
}


/*.tabNavigation .subPopulation.active, .tabNavigation .charts.active{
	background: radial-gradient(circle at 0 0, rgba(204,0,0,0) 64px, rgb(210, 251, 210) 15px);
}*/

.treatedSP404Section {
    text-align: center;
    margin-top: 65px;
    padding: 5px;
    height: 250px;
    font-size: 18px;
    font-weight: bold;
    color: #e15c39;
    background: #e1e1e1;
}

.treatedSP404Section div {
    vertical-align: middle;
    margin: auto 0px;
    margin-top: 10%;
}

.treatingSP404Section {
    text-align: center;
    margin-top: 65px;
    padding: 5px;
    height: 250px;
    font-size: 18px;
    font-weight: bold;
    color: #e15c39;
    background: #e1e1e1;
}

.treatingSP404Section div {
    vertical-align: middle;
    margin: auto 0px;
    margin-top: 10%;
}

.untreatedSP404Section {
    text-align: center;
    margin-top: 65px;
    padding: 5px;
    height: 250px;
    font-size: 18px;
    font-weight: bold;
    color: #e15c39;
    background: #e1e1e1;
}

.untreatedSP404Section div {
    vertical-align: middle;
    margin: auto 0px;
    margin-top: 10%;
}

.subPopulationSection {
    width: 100%;
    background: rgb(243, 243, 243);
}


/** new Merge **/

#treatmentType {
    padding: 3px;
    margin-right: 28px;
    margin-top: 4px;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #a3aaad;
}

.adjustCheckbox {
    padding: 0px 3px 0px 6px;
}

#cirrhosisType {
    padding: 3px;
    margin-right: 28px;
    margin-top: 4px;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #a3aaad;
}

.outlineCheckbox {
    outline-style: double;
    outline-width: 2px;
    outline-offset: -1px;
    outline-color: transparent;
}

input[type='range'] {
    height: 20px;
    background: transparent;
    opacity: 1;
    font-size: 8px;
    cursor: pointer;
    -webkit-appearance: none;
    overflow: hidden;
}

input[type='range']::-webkit-slider-runnable-track:before,
input[type='range'] #track:before {
    position: absolute;
    bottom: 20px;
    left: 0;
    cursor: pointer;
    background: linear-gradient(#e2ecf9, #7da4e1);
    -webkit-background-clip: text;
    color: #F15509;
    font: 1.25em / 1 arial, sans-serif;
    text-indent: .375em;
    word-spacing: 2em;
    white-space: nowrap;
    content: ' 0 20 40 60 80 ';
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 28px;
    width: 16px;
    border-radius: 50%;
    background: transparent;
    background-image: url(thumb.png);
    margin-top: -4px;
    background-position: 3px -1px;
    background-size: 80%;
    background-repeat: no-repeat;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}


/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

input[type=range]::-moz-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

input[type='range']:focus {
    opacity: 1;
}

input::-webkit-slider-thumb {
    width: 0px;
    height: 0px;
    -webkit-appearance: none;
    background: transparent;
    border-radius: 50%;
    margin-top: -3px;
    position: relative;
}

input::-webkit-slider-thumb:before {
    position: absolute;
    top: 4px;
    right: 50%;
    left: -150px;
    background: goldenrod;
    transform: translateX(-8px);
    content: '';
    height: 5px;
    border-radius: 15px;
    pointer-events: none;
}

.thumbColor::-webkit-slider-thumb:before {
    position: absolute;
    top: 4px;
    right: 50%;
    left: -150px;
    background: #06539C !important;
    transform: translateX(-8px);
    content: '';
    height: 5px;
    border-radius: 15px;
    pointer-events: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
}

input[type=range]:focus::-ms-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
}

input[type=range]:focus::-moz-range-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
}

input[type=range] {
    display: block;
    width: 87% !important;
}


/* Range Slider End */

.hrpatients {
    margin: 7px 10px 6px 10px !important;
    border-width: 1px;
    width: 100px;
}


/*.bestValueCard hr{
     background-color: #426f0b;
    border-top: 1px solid #4a7519;
    width: 80%;
    margin: auto !important;
    box-shadow: 0px 1px 1px 0px #689c2c;
}*/


/*Future Saving Chart*/

.chartSection g.c3-axis.c3-axis-y .tick {
    visibility: visible;
}

.chartSection g.c3-axis.c3-axis-x path.domain {
    visibility: visible;
}

.chartSection g.c3-axis.c3-axis-x .tick {
    font-size: 12px;
    font-weight: normal;
    fill: #333;
}

.chartSection g.c3-axis.c3-axis-y .tick {
    font-size: 12px;
    font-weight: normal;
    fill: #333;
}

.chartSection .c3 path,
.c3 line {
    fill: none;
    stroke: #999;
}

.chartSection .c3-axis-y-label {
    font-size: 14px;
    text-anchor: middle;
}

.chartSection .axis path,
.axis line {
    fill: none;
    stroke: #c3bfbf;
    shape-rendering: crispEdges;
}

.chartSection .x.axis path {
    display: block;
}


/*Range Sliders Overriding*/

.AdvancePayer .rangeslider,
.AdvancePayer .rangeslider__fill {
    height: 6px !important;
}

.AdvancePayer .rangeslider--horizontal {
    height: 6px;
    width: 100%;
}

.AdvancePayer .rangeslider__fill {
    background: #f04823;
    position: absolute;
    top: 0;
}

.AdvancePayer .rangeslider--horizontal .rangeslider__handle {
    top: -5px;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}

.AdvancePayer .rangeslider__handle {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 14px;
    position: absolute;
    background-size: 100%;
    background-image: none;
    box-shadow: none;
    -moz-border-radius: 0% !important;
    -webkit-border-radius: 0% !important;
    border-radius: 0% !important;
    top: -4.5px;
}

.AdvancePayer .rangeslider__handle:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi�pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


/* ------- Range Slider End ----*/

.setrowmargin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.setpaddingreset {
    padding: 0px 0px 0px 12px !important;
    border-radius: 3px 0px 0px 3px;
    height: 74px;
}

.bestValueDefaultCardicon {
    padding: 0px !important;
}

.valueGapDefaultCardicon {
    padding-right: 0px !important;
}

.detailedAnalyticsButton {
    cursor: pointer;
}

.ActuaExpensesChartSwitch {
    padding: 10px;
}

.ActuaExpensesChartSwitch .active {
    color: white;
    background: gray;
    border: 1px solid #6b6a6a;
}

.ActuaExpensesChartSavings {
    color: #a5a5a5;
    background: white;
    border: 1px solid #dcdcdc;
    padding: 2px 10px 2px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ActuaExpensesChartExpenses {
    background: white;
    border-left: 0px !important;
    border: 1px solid #dcdcdc;
    padding: 2px 10px 2px 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #333;
    margin-left: -4px;
}

.treatedinfo .applyBtn,
.treatinginfo .applyBtn,
.untreatedinfo .applyBtn {
    float: right !important;
    border-radius: 2px !important;
    margin-left: -12px !important;
    position: absolute !important;
    width: 100px !important;
    background-color: #2cc185 !important;
    border-color: #1fa56f !important;
}

.applyBtn.active,
.applyBtn.focus,
.applyBtn:active,
.applyBtn:focus,
.applyBtn:hover,
.open>.dropdown-toggle.applyBtn {
    color: #fff;
    background-color: #27a974;
    border-color: #219a69;
}

.drugTablePCount {
    background-position: 24%;
    background-image: url('user-light.png');
    width: 36px !important;
    background-repeat: no-repeat;
    width: 100% !important;
    padding-left: 12px;
    padding-top: 9px;
    opacity: 0.7;
}

.drugInfoTableFooter {
    background-color: #d6634b;
    height: 45px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    font-weight: bold;
}

.drugInfoFooter-totalPat {
    background-image: url('/user-w.png');
    background-repeat: no-repeat;
    background-position: 28px 2px;
    background-size: 13px 15px;
    text-align: right;
    padding: 0px 5px 0px 0px !important;
    border-right: 1px solid #ec8d79;
}

.drugInfoFooter-totalUti {
    padding: 0px 4px;
}

.drugInfoFooter-Label {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding-top: 5px;
    text-align: right;
}

.drugInfoFooter-totalPatLabel {
    position: absolute;
    left: -60px;
    top: -2px;
}

.drugInfoFooter-totalExpenses {
    position: absolute;
    left: 30px;
    top: -3px;
}

.drugInfoFooter-totalProjExpenses {
    text-align: right;
}

.treatedSafetyPopup .popover g.c3-axis-x path.domain,
.treatingSafetyPopup .popover g.c3-axis-x path.domain,
.untreatedSafetyPopup .popover g.c3-axis-x path.domain {
    fill: none;
    stroke-width: 1px;
    stroke: #999;
    visibility: visible;
}

.treatedSafetyPopup .popover g.c3-axis-y path.domain,
.treatingSafetyPopup .popover g.c3-axis-y path.domain,
.untreatedSafetyPopup .popover g.c3-axis-y path.domain {
    fill: none;
    stroke-width: 1px;
    stroke: #999;
    visibility: visible;
}

.comparativeChart_Combo {
    padding: 3px 3px;
    z-index: 10;
    display: none;
}

.comparativeChart_Combo select {
    padding: 2px;
    font-weight: bold;
    font-size: 13px;
}


/*Safetuy Quality Indicator Unverse View*/

.universeSafetyIndicators .popover {
    max-width: 700px;
    width: 700px;
    left: -290px !important;
    top: 70px !Important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}

.customC3ToolTip {
    border: 1px solid gray;
    min-width: 180px;
    opacity: 0.8;
    border-radius: 2px;
}

.customC3ToolTip-Header {
    padding: 3px;
    background-color: #808080;
    color: #fff;
    text-align: center;
}

.customC3ToolTip-Body {
    padding: 3px;
    background-color: #fff;
}

.customC3ToolTip-Body div {
    padding: 3px;
    margin-right: 3px;
}

.subpopulationWrapper {
    display: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}


/*Charts section styling */

.cureRateChart .axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #333;
}

.cureRateChart .axis line {
    fill: none;
    stroke: #999;
    shape-rendering: crispEdges;
}

.chartSection .c3-axis-y-label {
    font-size: 14px;
    fill: #333;
    text-anchor: middle;
}

.chartSection .c3-axis-x-label {
    font-size: 14px;
    fill: #333;
    text-anchor: middle;
}

.actualSavingChart {
    height: 320px !Important;
}

.CirrhosisVsNonCirrhosisChart .axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #333;
}

.CirrhosisVsNonCirrhosisChart .axis path,
.axis line {
    fill: none;
    stroke: #999;
    shape-rendering: crispEdges;
}

.comparativeDrugValueChart svg text.valueChartLable {
    font-size: 14px !important;
    fill: #333 !important;
    text-anchor: middle !important;
    font-weight: normal !important;
}

.utilizationReset {
    cursor: pointer;
    background: url(/reset.png) no-repeat;
    height: 37px;
    width: 37px;
    background-size: 19px 20px;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    z-index: 9;
    top: 9px;
    left: 52%;
}

.ui-tooltip {
    z-index: 9999999;
}

.chartSection .axis path,
.chartSection .axis line {
    fill: none;
    stroke: #999;
    shape-rendering: crispEdges;
}

.drugTablelockunlock.lock {
    cursor: pointer;
    background: url(/lock_unlock.png) no-repeat;
    height: 20px;
    width: 20px;
    background-position-x: 5px;
    background-position-y: 0px;
    background-size: 35px 20px;
    margin-left: 6px;
    position: relative;
    bottom: 8px;
}

.drugTablelockunlock.unlock {
    cursor: pointer;
    background: url(/lock_unlock.png) no-repeat;
    height: 20px;
    width: 20px;
    background-position-x: -15px;
    background-position-y: 0px;
    background-size: 35px 20px;
    margin-left: 15px;
    position: relative;
    bottom: 8px;
}

.safetyIndicatorChartContainer {
    display: none;
}


/*subpopulation safety quality Indicator chart  */

.safetySubpopulationIndicatorChart {
    margin: 10px;
    padding-top: 10px;
}

.safetySubpopulationIndicatorChart .right {
    stroke: white;
    fill: #EDA826;
}

.safetySubpopulationIndicatorChart .left {
    stroke: white;
    fill: #256483;
}

.safetySubpopulationIndicatorChart rect:hover {
    fill: #64707d;
}

.safetySubpopulationIndicatorChart text {
    fill: #24da82;
}

.safetySubpopulationIndicatorChart text.name {
    fill: black;
}

.safetySubpopulationIndicatorChart text.title {
    fill: #555;
    font-weight: bold;
    font-size: 16px;
}

.safetySubpopulationIndicatorChart .safetyTotalCost {
    font-size: 24px;
    font-weight: bold;
    fill: #EDA826;
}

.safetySubpopulationIndicatorChart .safetyHosCount {
    font-size: 24px;
    font-weight: bold;
    fill: #256483;
}


/*subpopulation safety quality Indicator chart  ====== END */

.subpopulationQualityIndicatorsContainer .popover {
    max-width: 910px;
    width: 910px;
}

.uniSafetyChartContainer {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #c3c3c3;
    min-height: 200px;
}

.uniSafetyChartLegends {
    padding: 5px;
    margin-top: 20px;
    text-align: right;
}

.uniSafetyChartLegends .safetyLegendsBest {
    display: inline-block;
    background-color: #809FBC;
    height: 10px;
    width: 10px;
    margin: 0px 3px;
}

.uniSafetyChartLegends .safetyLegendsOptimized {
    display: inline-block;
    background-color: #5A6D8D;
    height: 10px;
    width: 10px;
    margin: 0px 3px;
}

.comparativeDrugValueChart_legends {
    position: absolute;
    top: 18px;
    right: 2px;
    padding: 0px 0px 0px 0px;
    background: #fefefe;
    font-family: Arial;
    color: #333;
    font-size: 9px;
    border-left: 1px solid #e1e1e1;
    box-shadow: -1px 2px 5px 1px #e1e1e1;
}

.comparativeDrugValueChart_legendsBubbles {
    border-radius: 8px;
    height: 10px;
    width: 10px;
}

.GenotypeVsCirrhosisChart-Label {
    position: absolute;
    bottom: 4px;
    left: 15%;
    color: #333;
}

.futureSavingChart-Label {
    position: absolute;
    bottom: 4px;
    left: 48%;
    text-align: center;
    color: #333;
    ;
}

.drugComparisonSVGWrapper svg g .c3-axis.c3-axis-y .tick {
    visibility: visible;
}

.advPayerRingText {
    position: absolute;
    top: 10px;
    text-align: center;
    right: 27px;
    font-size: 11px;
}


/*cure rate chart bottom section*/

.currentUMPatients {
    position: absolute;
    left: 27%;
}

.currentUMPatients img {
    height: 24px;
}

.currentUMPatients span {
    font-size: 12px;
    color: #999;
    margin: 10px;
}

.recomendedUMPatients {
    position: absolute;
    left: 66%;
}

.recomendedUMPatients img {
    height: 24px;
}

.recomendedUMPatients span {
    font-size: 12px;
    color: #999;
    margin: 10px;
}

.cureRateChart-Label {
    color: #999;
    font-size: 14px;
    position: relative;
    top: 30px;
    left: 46.5%;
}

.complicationsRateHeadings {
    text-align: left !important;
    font-size: 13px;
}


/*popup*/


/* Outer */

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000000;
}


/* Inner */

.popup-inner {
    max-width: 100%;
    width: 75%;
    height: 580px;
    position: absolute;
    top: 54%;
    left: 49%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
}


/* Close Button */

.popup-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    /* transition:ease 0.25s all;*/
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
    color: #054190;
    text-shadow: 0px 0px 1px white;
}

.scrolling {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    height: 400px;
}


/* popover styling*/

.popover-title {
    padding: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: 1px solid #e1e1e1;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    background: none;
}

.AdvancePayer .popover {
    border-radius: 0px !Important;
    border: 0px !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}


/*.sortsubPopulation{
    color: red;
    border-bottom: red 2px solid;
}*/

.countpatient {
    padding-left: 5px;
}

.sortred {
    border-bottom: 2px solid #ef4722;
    padding-bottom: 20px;
    color: #ef4722;
    background: url(../updown-arrow-orange.png) no-repeat 98% 3px;
}

.sortg {
    border-bottom: 2px solid #5d676b;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    /* min-width: calc(100% - 30px);*/
    float: left;
    background: url(../updown-arrow-gray.png) no-repeat 98% 3px;
}

.subpopsort {
    width: 99%;
}


/*search box in complication rate*/

.payersearchform div {
    height: 26px;
    width: 193px;
    padding: 5px 0px 2px 10px;
}

.payersearchform {
    padding: 5px 0px 2px 10px;
}

.payersearchboxwrapper {
    position: relative;
}

.payersearchbox {
    border: none;
    outline: none;
    font: 14px 'Montserrat', sans-serif;
    color: #777;
    width: 182px;
    height: 32px;
    background: #fff;
    padding-left: 0px;
    border-bottom: 1px solid red;
}

.payersearchsubmit {
    /* font-family: 'FontAwesome';*/
    /* width: 29px; */
    /* height: 58px; */
    /* border: 1px solid #dadada; */
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 2px;
    /* background: #dadada; */
    border: none;
    color: red;
    cursor: hand;
    cursor: pointer;
}

.complicationRateHeading {
    background: rgba(171, 174, 175, 0.11);
    padding: 15px 5px 5px 0px;
}

.titlec {
    text-align: center;
}

.errorcompli {
    color: red;
    padding: 60px;
    text-align: center;
}

.comparativeDrugValueChart_legends table td {
    padding: 7px 3px 2px 3px;
}

.s-alert-box {
    z-index: 99999999;
}

.paginat .comparitivetooltip .advPayer-tooltip {
    width: 375px !important;
}

.universeSection {
    position: relative;
}

.cancelModelChanges {
    float: left;
    margin-left: 280px !important;
}


/*save model*/

.saveModelContainer {
    display: none;
    float: right;
    position: fixed;
    bottom: 0px;
    right: 12px;
    color: #333;
    z-index: 99999;
}

.modelInfoContainer {
    padding: 10px;
    width: 475px;
    background: #f7f7f7;
    box-shadow: -1px -2px 10px 0px #809fbc;
    display: none;
}

.hideModelDetails {
    cursor: pointer;
    width: 10px;
    float: right;
}

.modelNameLabel {
    float: left;
    padding-right: 10px;
    width: 70%;
    color: #555;
    padding: 5px 0px;
}

.modelNameInput {
    width: 100%;
    padding: 0px 5px;
}

.modelNotesLabel {
    color: #555;
    padding: 5px 0px;
}

.modelNotesInput {
    width: 100%;
    padding: 0px 5px;
}

.saveModelButton {
    padding: 5px;
    margin: 5px 0px;
    background: #e05454;
    color: #fff;
    width: 110px;
    text-align: center;
    cursor: pointer;
}

.showModelDetails {
    padding: 5px;
    background: #e05454;
    color: #fff;
    width: 110px;
    text-align: center;
    cursor: pointer;
    transform: rotate(270deg);
    transform-origin: 56px -35px;
    box-shadow: -1px -2px 10px 0px #809fbc;
}

.savedModelRowHeader {
    background: rgba(171, 174, 175, 0.11);
    float: left;
    width: 100%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    border-bottom: 1px solid #ee4724;
    margin-bottom: 10px;
}

.savedModelRow {
    width: 100%;
    float: left;
    background: white;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 0px 1px 6px -1px #cacaca;
    margin: 1px 0px;
}

.savedModelRow:hover {
    background: #e6e6e6;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

#listSavedModelList-Header {
    text-align: center;
    width: 100%;
    float: left;
}

#listSavedModelList {
    max-height: 375px;
    overflow-y: auto;
    width: 100%;
    float: left;
    text-align: center;
}

.loadSavedModel {
    padding-left: 20px !important;
    margin-right: 5px;
}

#loadWarningMessage .popup-inner {
    width: 40%;
    height: 20%;
    top: 30%;
}

#loadWarningMessageTab .popup-inner {
    width: 40%;
    height: 20%;
    top: 30%;
}

.loadWarningMessageButtonStay,
.continueUnsavedchanges,
.loadWarningMessageButtonStayTab,
.continueUnsavedchangesTab {
    /*width: 120px;
    background: #EE4724;
    height: 100%;
    text-align: center;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 10px 0px 124px;
    font-size: 14px;
    float: left;*/
}

#loadWarningMessage .btn-default:hover,
#loadWarningMessageTab .btn-default:hover {
    /* color: #fff;
    background-color: #ee4724;
    border-color: #adadad;*/
}

.loadModelIcon {
    height: 24px;
    box-shadow: 1px 1px 1px 1px #f3f3f3;
}

.loadModelIcon:hover {
    height: 25px;
    box-shadow: 1px 1px 1px 1px #f3f3f3;
}

.deleteModelIcon {
    height: 24px;
    box-shadow: 1px 1px 1px 1px #f3f3f3;
}

.deleteModelIcon:hover {
    height: 25px;
}

.modelHeaderColumn {
    float: left;
    padding: 10px;
}

.modelRowColumn {
    float: left;
    padding: 10px 0px;
    cursor: pointer;
}

.warningMsgBtn {
    color: #fff;
    background-color: #ee4724;
    border-color: #ee4724;
    border-radius: 0px;
    margin-top: 25px;
    text-align: center;
    margin: 25px 10px;
    width: 120px;
    padding: 5px;
    cursor: pointer;
}

.warningMsgBtn:hover {
    background: #348517;
    color: #fff;
    border: 1px solid #348517;
}

.LoadModelHeader {
    padding: 4px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #e1e1e1;
}

#WarningMsgForCurrentModel {
    z-index: 9999999;
}

#WarningMsgForCurrentModel .popup-inner {
    width: 500px;
    height: 130px;
    z-index: 9999999;
}


/*For Save modal icon animation*/

* {
    margin: 0;
    padding: 0;
}

.modelInfoContainer {
    padding: 10px;
    width: 475px;
    background: #f7f7f7;
    box-shadow: -1px -2px 10px 0px #809fbc;
    display: none;
}

.saveModelContainer {
    /*display: block;*/
    float: left;
    position: fixed;
    left: 0;
    color: #333;
    z-index: 9999999999999999;
    margin-bottom: -75px;
    border-radius: 6px;
    bottom: 50%;
}

.showModelDetails {
    text-align: center;
    cursor: pointer;
    position: fixed;
    height: 50px;
    width: 50px;
    background: url(/save-icon.png) no-repeat;
    top: 50%;
    -webkit-animation: pulse 1s ease infinite;
    -moz-animation: pulse 1s ease infinite;
    -ms-animation: pulse 1s ease infinite;
    -o-animation: pulse 1s ease infinite;
    animation: pulse 1s ease infinite;
}

.showModelDetails .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #e05454;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 11px;
    left: 54px
}

.showModelDetails:hover .tooltiptext {
    visibility: visible;
}

@-webkit-keyframes showModelDetails {
    0% {
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes showModelDetails {
    0% {
        -moz-transform: scale(1);
    }
    25% {
        -moz-transform: scale(1.1);
    }
    50% {
        -moz-transform: scale(1);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-ms-keyframes showModelDetails {
    0% {
        -ms-transform: scale(1);
    }
    25% {
        -ms-transform: scale(1.1);
    }
    50% {
        -ms-transform: scale(1);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@-o-keyframes showModelDetails {
    0% {
        -o-transform: scale(1);
    }
    25% {
        -o-transform: scale(1.1);
    }
    50% {
        -o-transform: scale(1);
    }
    100% {
        -o-transform: scale(1);
    }
}

@keyframes showModelDetails {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#loadExistingModels .modal-dialog {
    width: 935px !important;
}

#unTreatedPayerContainer .ourRecommendationsLink {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    font-size: 13px !important;
    width: 100%;
    text-align: center;
    margin-top: 0px !important;
}

#treatedRecommendationsPopup .conditionSelection {
    background: #fff;
    padding: 5px 15px 5px 15px !important;
}

#treatedRecommendationsPopup .recommendationsTitle-Filters {
    text-align: left !important;
}

#treatingRecommendationsPopup .recommendationsTitle-Filters {
    text-align: left !important;
}

#treatingRecommendationsPopup .conditionSelection {
    background: #fff;
    padding: 5px 0px 5px 50px !important;
}

#untreatedRecommendationsPopup .conditionSelection {
    background: #fff;
    padding: 5px 0px 5px 50px !important;
}

#untreatedRecommendationsPopup .recommendationsTitle-Filters {
    text-align: left !important;
}

.recommnedation_medication_list {
    border-bottom: 1px solid;
    float: left;
    margin: 5px 0px 5px 0px;
    position: relative;
    display: block !important;
}

.reccProfile-moreSpSection {
    margin-top: 10px;
    display: block !important;
}

#filters{
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    /*padding-top: 60px;*/
    padding-left: 15px;
}
.recommendedProfWrapper .saving_type_1,
.recommendedProfWrapper .saving_type_2,
.recommendedProfWrapper .saving_type_3 {
    padding: 0px !important;
}

.recommendedProfWrapper .pro_name {
    margin-right: 10px !important;
}

.recommendedProfWrapper .pro_desc_text {
    margin: 0px !important;
    float: none !important;
}

.totalSPPatients-Info {
    float: right !important;
    padding: 3px 6px;
    font-size: 14px;
    position: initial !important;
    background-position: 38%;
    background-image: url(/AmdApp_v5-ICONS.png);
    height: 24px;
    width: 47px;
    background-repeat: no-repeat;
}

.payerCount-infoTip {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif !important;
    text-align: justify;
}

.payerCount-infoTip-Header {
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #e1e1e1;
    color: #333;
    font-weight: 600;
}

.payerCount-infoTip-Section {
    float: left;
    padding-left: 5px;
}

.payerCount-infoTip .payerInfo-Label {
    display: inline-block;
    text-align: left;
}

.payerCount-infoTip .payerInfo-Value {
    display: inline-block;
    text-align: right;
}

.horizon-fyiSeparator {
    width: 98%;
    margin: auto;
    float: left;
    border-bottom: 1px solid #e1e1e1;
    height: 2px;
    margin-bottom: 3px;
}
/**
 * @author: Yuvraj
 * @date: march 22nd 2017
 * @desc: universe safety indicator
*/

.uvSafetyTH {
    background: #efefef;
}

.uvSafetyTHColumn-popup {
    padding-left: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #a2a2a2;
}

.uvSafetyTHColumn {
    width: 33.33%;
    float: left;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #a2a2a2;
}

.uvSafetyRow {
    
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid #efefef;
    color: #636363;
}

.uvSafetyTbColumn-popup {
    
    color: black;
}

.uvSafetyTbColumn {
    width: 33.33%;
    float: left;
    color: black;
}


.uniSafety {
    width: 20px;
}

.uvSafetyTH th {
    text-align: center;
    padding: 8px;
}

.uvSafetyRow td {
    text-align: center;
    padding: 8px;
}

table 
{
    margin:auto;
}

.rebatecheckbox-div {
    float: left;
    width: 100%;
    margin-top: 5px;
    
}
.rebatecheckbox {
    float: left;
    margin-right: 30px;
    margin-top: 2px;
    font-size: 13px;
    color: #696969;
    font-weight: normal;
}

.containerDialog {
    box-shadow: 0px 0px 30px 3px rgba(56, 56, 56, 0.5);
}


   
.ui-dialog-titlebar{
    background:#fff;
    border:none;
    color:#696969;
}