
/* Comaparative Engine Options popup */

.comparativeEngineOptionsView-header {
    text-align: center;
    font-size: 18px;
}

.comparativeEngineOptionsView-header div {
    display: inline-block;
}

.comparativeEngineOptionsView-header .ecf-labelText {
    margin: 2px 10px;
}

.comparativeEngineOptionsView-header .ecf-valueText {
    color: #102430;
    font-weight: bold;
}


.comparativeEngineOptionsView .popup-inner {
    width: 98%;
    border-radius: 0px !important;
    height: 640px;
    top: 50%;
    overflow-y: auto;
}

.comparativeEngineOptionsView .popup-close {
    top: 10px;
    right: 20px;
}

.comparativeEngineOptionsView-container {
    padding: 10px 3px;
}


.comparativeEngineOptionsView-container .showInRow {
    display: inline-block;
    min-width: 113px;
    text-align: center;
}



.comparativeEngineOptionsView-footer {
    height: 40px;
    text-align: center;
}


.comparativeEngineOptionsView g.c3-axis.c3-axis-x path.domain {
    visibility: visible;
}

.comparativeEngineOptionsView .c3 path{
    fill: none;
    stroke: #999;
}

.comparativeEngineOptionsView .ecfPatient-cureRate g.c3-axis.c3-axis-x .tick,
.mlDistributionChart g.c3-axis.c3-axis-x .tick {
    font-size: 12px;
    font-weight: normal;
    fill: #999;
}

.comparativeEngineOptionsView g.c3-axis.c3-axis-y .tick {
    visibility: visible;
    fill: rgb(153, 153, 153);
}

.comparativeEngineOptionsView .optimizeIcon {
    background-position: 10px 0px;
    background-image: url('/patiensListviewLink.png');
    height: 20px;
    width: 50px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 20px;
    min-width: 50px;
}

.comparativeEngineOptionsView .additionalDrugSection {
    padding: 0px 10px 10px;
    width: 100%;
    /* height: 100%; */
    float: left;
    background: #f5f5f5;
    margin-bottom: 3px;
}


.comparativeEngineOptionsView .additionalReason {
    font-size: 13px;
    color: #111;
    font-weight: 600;
    padding: 10px 0px;
}

.comparativeEngineOptionsView .additionalDrugsName {
    padding-left: 10px;
    display: inline-block;
}

.comparativeEngineOptionsView .additionalDrugIcon {
    height: 10px;
    width: 10px;
    background-color: #e06900;
    border-radius: 5px;
    display: inline-block;
}

.comparativeEngineOptionsView .noAdditionalDrugs {
    text-align: center;
    color: red;
    padding-top: 20px;
}

.comparativeEngineOptionsView .chartHeading {
    color: #111;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}

.comparativeEngineOptionsView .c3-axis-y-label,
.comparativeEngineOptionsView .c3-axis-x-label{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    fill: rgb(153, 153, 153);
}

.comparativeEngineOptionsView .customC3ToolTip {
    min-width: 200px;
}

.comparativeEngineOptionsView .ecfPatient-drugX {
    overflow-y: auto;
    height: 200px;
}




/* Comaparative Engine Options  popup End*/




.compareOptionsList{
    width: 40%;
    float: left;
    margin: 50px;
}

.compareAgainstOptionsList{
    width: 40%;
    float: left;
    margin: 50px;
}



/* Compare Button */

.ce_CompareButton{
    text-align: center;
    cursor: pointer;
    position: fixed;
    top: 25%;
    left: 10px;
    -webkit-animation: pulse 1s ease infinite;
    -moz-animation: pulse 1s ease infinite;
    -ms-animation: pulse 1s ease infinite;
    -o-animation: pulse 1s ease infinite;
    animation: pulse 1s ease infinite;
    z-index: 999;
}

.ce_CompareButton:hover .tooltiptext {
    visibility: visible;
}

.ce_CompareButton .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #e05454;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 11px;
    left: 54px;
}

/* Dropdown */

.compareOptionDropDownLable{
    width: 100%;
    float: left;
    text-align: left;
}

.compareOptionDropDownContainer{
    width: 100%;
    float: left;
}

.backToCompareOptions{
    width: 100px;
    text-decoration: underline;
    color: #3d3dda;
    margin: 10px 0px 0px 20px;
    cursor: pointer;
}
