.main-footer {
    width: 100%;
    float: left;
}

.copyrightfoot {
    margin-bottom: 2px !important;
    color: #fff;
    text-align: center;
}


.grayboxforlgn{ margin-left:20px; }

@media screen and (max-width: 480px){

	.grayboxforlgn{ margin: 0 auto !important; width: 80%}
	.head-label{float: left;font-size: 16px !important; margin-left: 0 !important;margin-top: 20px !important;}
	.loginbox { margin-top: 50px; padding: 20px 10px;}
	.copyrightfoot{margin: 0px }
	.mb-navbar-toggle-right {box-shadow: -10px 0 6px -3px #000 !important; }
	.container.headgradiant { padding: 0 9px !important }
	#showRightPush i { float: right; margin-right: 12px}
 	.usericon{float: left; margin-left: 3px;}
}
