/**{ margin:0; padding:0;}*/

.denied_main {
    float: left;
    width: 100%;
}

.denied_title {
    width: 100%;
    background-color: #112d41;
    padding: 10px 0px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-family: "Myriad Pro", Arial, Verdana !important;
}

.attention_error {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 40px;
}

.denied_msg {
    float: left;
    width: 100%;
    font-size: 20px;
    color: #353535;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Myriad Pro", Arial, Verdana !important;
    letter-spacing: 0.1px;
}
