/* NEW RELATIVE VALUE CHART TOOLTIP 12/12/2016 */

.relativeValueChartTooltip {
    min-width: 200px;
    text-align: center;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.relativeValueChartTooltip-Body {
    min-width: 200px;
}

.relativeValueChartTooltip-Body .tooltip-DrugName {
    color: #009eff;
    font-weight: bold;
}

.relativeValueChartTooltip-Body .tooltip-SectionLabel {
    text-align: left;
}

.relativeValueChartTooltip-Body .tooltip-SectionValue {
    text-align: left;
}

.relativeValue-ChartLabels {
    fill: #666666;
    font-size: 15px;
}

.x-AxisValuesWrap {
    float: left;
    position: absolute;
    bottom: 65px;
    color: #666666;
    font-weight: bold;
}

.x-AxisMinVal {
    display: inline-block;
    width: 49%;
    padding-left: 35px;
}

.x-AxisMaxVal {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.y-AxisMinVal {
    position: absolute;
    bottom: 90px;
    color: #666666;
    font-weight: bold;
    left: 18px;
}

.y-AxisMaxVal {
    float: left;
    position: absolute;
    top: 90px;
    color: #666666;
    font-weight: bold;
}

.TotalValueWraperZoomBtn .x-AxisValuesWrap {
    bottom: 40px;
}

.TotalValueWraperZoomBtn .y-AxisMaxVal {
    top: 110px;
}

.TotalValueWraperZoomBtn .y-AxisMinVal {
    bottom: 62px;
}


/* END NEW RELATIVE VALUE CHART TOOLTIP */


/* NEW RELATIVE VALUE CHART PAYER TAB SUB POPULATION 12/12/2016 */


/*.payer-relative-right-section .valueChartPopulation {
    top: 4%;
}*/

.payer-relative-right-section .valueChartChangeAxisCombo .form-select {
    width: 100px;
    display: inline !important;
}

.payer-relative-right-section .valueChartChangeAxisCombo .form-select select {
    width: 71%;
    height: 30px;
    margin: 5px 0px;
    border: 0;
    background: #ffffff url(selectTrigger.png) no-repeat;
    background-size: 18px;
    background-position: right 2px center;
    font-family: 'Arial';
    padding: 5px;
    -webkit-appearance: none;
    text-align: left;
    border-bottom: 1px solid #ef4823;
}

.payer-relative-right-section .valueChartChangeAxisCombo {
    position: absolute;
    z-index: 99999999;
    top: 390px;
    padding: 10px 5px 10px 5px;
    background: #fff;
    right: 5px;
    width: 190px;
    border-left: 1px solid #ececec;
}

.payer-relative-right-section .valueChartChangeAxisCombo b {
    font-size: 15px;
    font-weight: 500;
    color: #555;
}

.payer-relativeValue-chartSection .y-AxisMaxVal {
    float: left;
    position: absolute;
    top: 120px;
    color: #666666;
    font-weight: bold;
}

.payer-relativeValue-chartSection .y-AxisMinVal {
    position: absolute;
    /*bottom: 130px;*/
    bottom: 60px;
    color: #666666;
    font-weight: bold;
    left: 18px;
}

.payer-relativeValue-chartSection .x-AxisValuesWrap {
    float: left;
    position: absolute;
    bottom: 40px;
    color: #666666;
    font-weight: bold;
}

.payer-relativeValue-chartSection .x-AxisMinVal {
    display: inline-block;
    width: 49%;
    padding-left: 35px;
    text-align: left;
}


/* Payer Relative value zoom popup new style look like provider tab */

#relativeValueZoomChartsPopup .popup-inner {
    width: 91% !important;
    height: 550px;
    padding: 0px 14px;
}

.payer-relative-right-section .valueChartPhsDrug .phsDrug {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
}
.payer-relative-right-section .valueChartPhsDrug {
    position: absolute;
    top: 340px;
    right: 40px;
}

.payer-relative-right-section .valueChartPhsDrug .outerRing {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 4px solid yellow;
    display: block;
    border-radius: 100%;
    float: left;
}

/* Overridden style for Safety tbl for hosp-rx-tbl- subpopulation view*/

.subPopulation-hosp-rx-tbl.spSafetyPopoverData {
    display: table !important;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin-bottom: 3px;
}


/*popup-inner {
    max-width: 100%;
    width: 91%;
    position: absolute;
    top: 54%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
    border-radius: 3px !important;
}

.popup-inner {
    max-width: 100%;
    width: 75%;
    height: 580px;
    position: absolute;
    top: 54%;
    left: 49%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
}
*/