/* CSS declarations go here */

.pdl30 {padding-left: 30px !important;}


.CommparePageContent .e-slidemenu {
    position: absolute;
    right: 15px;
    top: 0px;
    width: 150px;
}
.cpbackbtn {
    padding: 5px !important;
    margin-top: -10px;
    width: 100px;
    border: 1px solid #ef4722;
    background: #ef4722;
    color: white;
    box-shadow: 1px 1px 1px 0px grey;
}

.cpbackbtn a {
    font-size: 12px !important;
    text-decoration: none !important;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
}

.cpbackbtn a:hover {
    font-size: 12px !important;
    text-decoration: none !important;
    margin-left: 10px;
    color:white;
    text-transform: uppercase;
}

.compareDrugbackbtnIcon{
        float: left;
    padding: 2px 10px;

}

.ComparePageSectionsContainer{
	    margin-top: 10px;
}
.ComparePageLeftSection{
	background: #FFF;
    width: 23%;
    min-height: 450px;
    float: left;
    box-shadow: 1px 1px 1px 1px gainsboro;
    border-left: 10px solid #ffffff;
    border-radius: 2px;
}
.cpHeader {
    background: #ffffff;
    width: 100%;
    padding: 10px 20px;
    color: #ef512e;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    border-bottom: 1px solid #e1e1e1;
}
.cplsInnerdivContainer{
	padding-top:10px;
	padding-left: 10px;
}
.cplsInnerdiv{
    padding: 15px 0px;
    padding-left: 10px;
}
.cplsLables{
	color: #ef4722;
    height: 20px;
    margin-bottom: 0px !important;
}
.cplsMeasures{
	color: #999;
    height: 20px;
    font-size: 14px;
}
.ComparePageRightSection{
	display: inline-table;
	background: #FFF;
	max-width: 75% !important;
	min-height: 450px;
	float:left;
	margin-left: 2%;
	box-shadow: 1px 1px 1px 1px gainsboro;
}
.cprsInnerdivContainer{
	padding-top: 10px;
}
.cprsContainer{
	display: table-cell;
}

.cprsHeaader{
	background: #ffffff;
    padding: 10px 20px;
    color: #ef4722;
    margin: 0 auto;
    border-bottom: 1px solid #e1e1e1;
}
.cprsDrug_Cell{
	display: table-cell;
	width: 180px;
}
.cprsDrug_Cell{
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: pre;
    width: 70%;
}

.cprsInnerdiv{
    padding: 15px 0px;
    padding-left: 25px;
}


.cprsInnerdiv:nth-of-type(even) {
    background-color: #fff;
}

.cplsInnerdiv:nth-of-type(even) {
    background-color: #fff;
}

.cprsDrug_Cell > p {
    float: left;
    margin-left: 15px;
    overflow: hidden;
    text-align: center;
    /*text-overflow: ellipsis;*/
    white-space: pre;
    /*width: 70%;*/
    margin: 0 !important	;
}
.blackColor{
	color: #202020 !important;
}

.cplsMeasures .gaugeMeter{
      position: relative!important;
}
.cplsMeasures .gaugeMeter .optimalPointForValueZone{
    position: absolute;
    right: 0px;
    top: 0px;
}
